.banner{
    padding: 0.1px;
    margin: 2%;
    display: grid;
    grid-gap: 10px;
    position:relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;

    @media (max-width: 750px) {
        flex-direction: column;
    }

}

.birthlebanner{
    margin-left: 3%;
    opacity: 90%;
    color:#4b4a48;
    min-width: 50%;
    border-style: groove;
    background-color: #e9ded0;
    padding: 2px;
}

.triviabanner {
    opacity: 90%;
    color:#4b4a48;
    background-color: var(--colorCardboard);
    min-width: 50%;
    border-style: groove;
    padding: 2px;
}

.birthleimage{
    width:78%;
    border-radius: 10px;
}
.triviaimage{
    width:48%;
    border-radius: 10px;
}

.button {
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    background: rgba(220, 220, 179, 0.328);
    border: 0.5px solid #4b4a48be;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 4px;
    margin-left: 64%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    border-style: groove;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.195em;
    text-transform: uppercase;
  }