@import "components/common/mixins";

.metrics-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 970px) {
    flex-direction: column;

    & .metric-vid {
      margin-bottom: 40px;
      width: 100%;
    }
  }
}

.metric-trending {
  display: inline-block;
  position: relative;
  flex: 1 0 40%;
  padding: 10px 25px 10px 0;

  @media (max-width: 750px) {
    padding: 0;
    width: 100%;
  }
}

.metric-vid {
  background-color: var(--colorSand);
  display: inline-block;
  padding-top: 56%; /* set height */
  position: relative;
  flex: 1 0 40%;

  & > iframe {
    @add-mixin absolute-expand;
  }

  /* two column layout */
  @media (min-width: 971px) {
    margin-right: 40px;
    padding-top: 26.666%; /* set height */
  }

  & .press-play {
    @mixin absolute-center;
    border-radius: 50%;
    border: 1px solid var(--colorTan);
    width: 60px;
    height: 60px;
    display: block;

    &[disabled] {
      pointer-events: none;
    }

    & i {
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 11px;
      left: 20px;
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 23px solid var(--colorSand);
    }

    &:hover {
      border: 1px solid var(--colorCtrl);

      & i {
        border-left-color: var(--colorCtrlShape);
      }
    }

  }
}

iframe.yasiv-youtube {
  pointer-events: none;
}

.metrics-list {
  columns: 5;
  column-width: 12rem;
  column-gap: 40px;
  flex: 1 0 40%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  & .metric {
    break-inside: avoid;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  & h4 {
    @mixin calloutText;
    margin: 0;
  }

  & p {
    @mixin smallCaps;
    min-width: auto;
  }
  /* override canon */
  & .metric.metric p {
    line-height: 1.2;
    margin-top: 0.5em;
  }
}
