.movie-card {
  display: flex;
  border-radius: 10px;
  border: 0 !important;
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  margin: 0 0 35px 0;
  /* height: 350px; */
  transition: box-shadow 0.3s ease-in-out;
  width: 315px;

  &:hover {
    box-shadow: 0 27px 65px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
    border: 0 !important;
  }

  @media (max-width: 750px) {
    margin-bottom: 20px;
    width: 275px;
  }

  @media (max-width: 550px) {
    box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.3), 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    width: 100%;
  }
}
.movie-card .thumb {
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 100px;
  position: relative;
}
.movie-card .info-group {
  /* justify-content: space-around; */
  /* align-items: center; */
  /* text-align: center; */
  padding: 5px 10px;
  color: #444;
  & .title {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    max-height: 24px;
    overflow: hidden;
    position: relative;
    word-break: break-word;
    &:after {
      content: "";
      line-height: 24px;
      background: linear-gradient(to right,rgba(244, 244, 241, 0),rgba(244, 244, 241, 1));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#F4F4F1',EndColorStr='#F4F4F1');
      bottom: 0;
      height: 24px;
      max-height: 100%;
      pointer-events: none;
      position: absolute;
      right: 2px;
      width: 75px;
    }
  }
  & .subtitle {
    font-size: 14px;
    margin: 0 0 6px 0;
  }
  & .description {
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    max-height: 62px;
    overflow: hidden;
    position: relative;
    word-break: break-word;
    &:after {
      content: "";
      line-height: 15px;
      background: linear-gradient(to right,rgba(244, 244, 241, 0),rgba(244, 244, 241, 1));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#F4F4F1',EndColorStr='#F4F4F1');
      bottom: 0;
      height: 15px;
      max-height: 100%;
      pointer-events: none;
      position: absolute;
      right: 0px;
      width: 60px;
    }
  }
  & .info-group-footer {
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
}
