.result {
  display: none;
}

.result-block{
  box-sizing: border-box;
  margin: 50px auto;
  width: fit-content;
  height: fit-content;
  background: #f4f4f1;
  font-size: 20px;
}

.result-block-border {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  width: 350px;
  padding: 30px;
  border: 1px solid #000;
}

@media (min-width: 900px) {
  .result-block-border {
    width: 400px;
  }
}

.result-title_fail, .result-title_success {
  width: 100%;
  line-height: 40px;
}

.result-title_success::before{
  content: "";
  display: block;
  background: url("./../../icons/icon-win.svg") no-repeat center;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 6px 0 0;
}

.result-title_fail::before{
  content: "";
  display: block;
  background: url("./../../icons/icon-info.svg") no-repeat center;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 6px 0 0;
}

.result-links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.result-link {
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  color: #000;
}

.result-link::before{
  content: "";
  display: block;
  background: url("./../../icons/icon-link.svg") no-repeat center;
  width: 25px;
  height: 25px;
  float: left;
  margin: 0 5px 0 0;
}

.btn-share::before {
  content: "";
  display: block;
  background: url("./../../icons/icon-share.svg") no-repeat center;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 5px 0 0;
}