npm-debug.log*
.DS_Store

# node modules should never be synced with git
node_modules

# nextjs build files
.next

# environment variable files for autoenv and direnv
.env
.envrc

# docker files
dockerfiles/nginx/certs/*
dockerfiles/nginx/conf.d/default.conf

# pm2 ecosystem config
ecosystem.config.js

# compiled python files
*.pyc

# postgrest config
postgrest.conf

# dont commit huge images dir
public/images/profile
