@import "../../../styles/mixins.css";

.top-10 {
  & h2 {
    @mixin priTitle;
    border-bottom: solid 1px gray;
    font-size: var(--sizeXL);
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    text-align: center;
  }

  & p {
    font-size: 1.8rem;
    line-height: calc(1.8rem * 1.7);
    margin: 0 0 40px;
    font-weight: 400;
  }
}
.top-person {
  display: flex;
  margin: 0 0 40px 0;
  & .top-person-img {
    margin: 0 20px 0 0;
    & img {
      width: 240px;
      width: 180px;
    }
  }
  & .top-person-details {
    & h3 {
      font-size: 26px;
      margin: 0 0 10px 0;
    }
    & p {
      font-size: 1.8rem;
      line-height: calc(1.8rem * 1.7);
      margin: 0 0 10px;
      font-weight: 400;
      width: 100%;
      &.wiki-summary {
        font-size: 1.4rem;
        line-height: calc(1.4rem * 1.7);
      }
    }
  }
}
