@import 'settings';
@import 'common/colors';
@import 'common/layout';
@import 'common/typography';

@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700');


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontAmiko);
  @apply --themeLight;
  -webkit-font-smoothing: antialiased;
}

.app {
  height: 100%;
  font-weight: normal;
}

/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/

a {
  text-decoration: none;
  outline: none;
}

.items, .sub-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
