@import 'settings';
@import 'common/colors';
@import 'common/layout';
@import 'common/typography';
@import 'components/viz/tooltip';

@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700');

* {box-sizing: border-box;}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: var(--fontBody);
  @apply --themeLight;
  -webkit-font-smoothing: antialiased;
}

.app {
  height: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  outline: none;
}

.items, .sub-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}
