@import '../../common/colors';
@import '../../common/typography';
@import '../../common/input';
@import '/reacttable-override';
@import '/slider-override';

.explore-container {
  width: 100%;
  margin: 90px auto 5px;
  box-sizing: border-box;
}

.explore-title {
  width: 55%;
  min-width: 352px;
  margin: 0 auto;
  text-align: center;
  @apply --profileVizTitle;
  text-transform: none;
}

.explore-date {
  @apply --searchResults;
  margin-top: 3px;
  color: var(--colorTan);
  letter-spacing: 0.5px;
  text-align: center;
}

.explore, .rankings {
  color: var(--colorSlate);
  padding: 5px 24px 60px;
  box-sizing: border-box;
}

.ranking-table-container, .explore-viz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.explore-head {
  margin-bottom: 25px;
}

.rankings {
  max-width: 1024px;
  margin: 0 auto;

  & .explore-title {
    text-transform: capitalize;
  }
}

.explore-body {
  display: flex;
}

/* shared Control Panel styles*/
.explore-controls {
  flex: 0 0 208px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 208px;

  & h3 {
    @apply --exploreControlTitles;
    margin: 0 0 5px;
  }

  & h4 {
    @apply --exploreControlLabels;
    margin: 0;
  }

  & span {
    @apply --exploreControlTitles;
    margin: auto;
  }

  & select {
    width: 100%;
    @apply --panelInput;
    @apply --exploreControlInputText;
    background-image: url('../../../images/tri-dd-down.svg');
    background-position: 100% 50%;
    background-size: 30px 7px;
    cursor: pointer;

    &.add-control-input {
      margin-top: 10px;
    }
  }

  & .filter + .filter {
    margin: 20px 0 0;
  }

  & .filter {
    & select {
      margin-top: 7px;
    }
  }

  & .switch-explore-link {
    border-bottom: 1px solid transparent;
    @apply --bodyLink;
    @apply --smallCaps;
    position: relative;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      background: url("../../../images/tri-right-b.svg") no-repeat;
      background-size: contain;
      width: 7px;
      height: 13px;
      margin: 0 3px -4px 0;
      transform: scaleX(-1);
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      background: url("../../../images/globalNav/explore.svg") no-repeat;
      background-size: contain;
      top: -2px;
      right: -20px;
      width: 17px;
      height: 17px;
    }
  }

  & .options {
    padding-left: 1px;

    & a {
      @apply --bodyLink;
      @apply --exploreControlTitles;
      color: inherit;

      &.active {
        @apply --exploreControlActiveLink;

        &:hover {
          @apply --exploreControlActiveLinkHover;
        }
      }
    }
  }

  & .viztype-options {
    & li {
      padding-top: 13px;
    }

    & a {
      margin-left: 20px;

      &::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 14px;
        margin: -3px 0 0 -20px;
      }

      &.treemap::before {
        background-image: url('../../../images/viztypes/treemap.svg');
      }
      &.stackedarea::before {
        background-image: url('../../../images/viztypes/stacked.svg');
      }
      &.linechart::before {
        background-image: url('../../../images/viztypes/line.svg');
      }
      &.map::before {
        background-image: url('../../../images/viztypes/map.svg');
        margin: -4px 0 0 -20px;
      }
    }
  }

  & .flat-options {
    display: flex;
    flex-direction: row;
    align-items: center;

    & li {
      display: inline-block;

      &:after {
        content: "|";
        font-size: 11px;
        padding: 0 4px;
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  & .flat-options-w-title {
    display: flex;

    & ul {
      display: flex;
      margin: 0;
    }

    & h3 {
      display: inline-block;
      margin: 0 6px 0 0;
    }
  }

  & .subfilter {
    margin-top: 10px;

    & .options {
      padding-left: 0;
    }
  }

  & .control-group {
    border: solid 1px var(--colorSand);
    margin-bottom: 9px;
    padding: 16px 11px 16px;
    box-sizing: border-box;
  }

  & .share-group {
    & li {
      &::after {
        content: "";
        padding: 0;
      }
      &::before {
        content: "";
        padding-left: 16px;
      }

      & a {
        vertical-align: text-bottom;

        &:hover {
          border-bottom: 0;
          opacity: 0.5;
        }
      }
    }
  }

  & .advanced-group {
    & span {
      margin-right: 15px;
      margin-left: 10px;
    }
  }

  & .flat-group {
    display: flex;
    justify-content: space-between;
  }

  & .year-inputs {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 6px;

    & input {
      @apply --panelInput;
      @apply --exploreControlInputText;
      text-align: center;
      width: 70px;
    }
  }
}

.control-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 30px;
  padding: 10px 5px 7px 30px;
  box-sizing: border-box;
  background-color: var(--colorSlate);

  & h2 {
    position: relative;
    margin: 0;
    @apply --exploreControlHeader;

    &.rankings {
      &::before {
        content: '';
        position: absolute;
        background: url('../../../images/icons/icon-rankings.svg') no-repeat;
        background-size: contain;
        width: 16px;
        height: 9px;
        margin: -2px 0 0 -20px;
      }
    }

    &.viz-explorer {
      &::before {
        content: '';
        position: absolute;
        background: url('../../../images/icons/icon-explore.svg') no-repeat;
        background-size: contain;
        width: 17px;
        height: 17px;
        margin: -2px 0 0 -20px;
      }
    }
  }

  & .control-hide {
    background-repeat: no-repeat;
    background-image: url('../../../images/icons/icon-hide.svg');
    background-position: 50%;
    background-size: contain;
    width: 19px;
    height: 12px;
    cursor: pointer;

    &:hover {
      background-image: url('../../../images/icons/icon-hide-h.svg');
    }

    &:active {
      background-image: url('../../../images/icons/icon-show.svg');
      margin-bottom: -8px;
    }
  }
}
