@import '../../common/colors';
@import '../../common/typography';

.ranking-table {
  & .rt-th {
    @apply --profileNav;
    font-size: 9px;
  }

  & .rt-td {
    @apply --small;
    font-size: 11px;

    & a {
      @apply --bodyLink;
      font-size: 12px;
      font-weight: 400;
    }
  }

  & .rt-td, & .rt-th {
    &:nth-child(2) {
      text-align: left;
    }
  }
}

.ranking-pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & span {
    @apply --smallCaps;
  }

  & a {
    border-bottom: 1px solid transparent;
    @apply --bodyLink;
    @apply --smallCaps;

    &:last-child::after {
      content: '';
      position: relative;
      display: inline-block;
      background: url('../../../images/tri-right-b.svg') no-repeat;
      background-size: contain;
      width: 7px;
      height: 13px;
      margin: 0 0 -3px 3px;
    }

    &:first-child::before {
      content: '';
      position: relative;
      display: inline-block;
      background: url('../../../images/tri-right-b.svg') no-repeat;
      background-size: contain;
      width: 7px;
      height: 13px;
      margin: 0 3px -3px 0;
      transform: scaleX(-1);
    }
  }
}
