@import "components/common/mixins";

.ranking-table-container {

  /* error message */
  & .ReactTable {
    min-height: 200px; /* prevent error message from overlapping table header & footer */

    & .rt-noData {
      background: none;
      bottom: 20px;
    }
  }

  /* prevent page overflow */
  @media (min-width: 751px) {
    padding: 0 0 10px 20px;
    max-width: calc(100% - 20px);
    overflow-x: auto;
  }
}

.ranking-table {
  width: 100%;

  & .rt-th {}

  & .rt-td {
    @mixin small;
    font-size: 11px;

    & a {
      @mixin bodyLink;
      font-size: 11px;
      font-weight: 400;
      border-bottom: 1px solid var(--colorSnow);
    }
  }

  & .rt-td, & .rt-th {
    &:nth-child(1), &:nth-child(2) {
      text-align: left;
    }
  }
}

.ranking-thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.ranking-head {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;

  & select {
    margin-left: 0.5em;
  }

  & input {
    border: 1px solid var(--colorTan);
    border-right-width: 0;
    padding: 0.25em 0.5em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  & button {
    border: 1px solid var(--colorStone);
    background: none;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  @media (max-width: 400px) {
    display: block;

    & .ranking-result-count {
      margin-bottom: 0.5em;
    }

    & .ranking-search {
      display: flex;

      & > input {
        @mixin exploreControlInputText;
        flex: 1 0 auto;
      }
    }
  }
}

.ranking-pagination {
  padding: 10px 0 7px;
  height: 30px;

  & span {
    @mixin smallCaps;
  }

  & a {
    border-bottom: 1px solid transparent;
    @mixin bodyLink;
    @mixin smallCaps;

    &:last-child::after {
      content: '';
      position: relative;
      display: inline-block;
      background: url('/images/ui/tri-right-b.svg') no-repeat;
      background-size: contain;
      width: 7px;
      height: 13px;
      margin: 0 0 -4px 3px;
    }

    &:first-child::before {
      content: '';
      position: relative;
      display: inline-block;
      background: url('/images/ui/tri-right-b.svg') no-repeat;
      background-size: contain;
      width: 7px;
      height: 13px;
      margin: 0 3px -4px 0;
      transform: scaleX(-1);
    }
  }
}
