@import "components/common/mixins";
.Loading {
  @mixin themeLight;
  height: 100vh;
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  & .bp3-non-ideal-state-visual {
    max-width: 200px;
    width: 100%;
  }
  & .bp3-progress-meter {
    background-color: var(--colorDark) !important;
  }
  & h4.bp3-heading {
    color: var(--colorDark) !important;
  }
  & .bp3-non-ideal-state-title {
    color: var(--colorDark) !important;
  }
}

.bp3-non-ideal-state-title {
  color: var(--colorDark);
}


.loading.bp3-non-ideal-state {
  max-width: 200px;
  width: 100%;
  background-color: var(--colorDark);
  color: var(--colorEggshell);
  height: 100vh;
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  & .bp3-progress-meter {
    background-color: var(--colorTan) !important;
  }
  & h4.bp3-heading {
    color: var(--colorEggshell) !important;
  }
}
.bp3-non-ideal-state-title {
  color: var(--colorEggshell);
}
