@import "common/mixins";

.error-banner {
  height: 150%;
  background-size: 50%;
  background-repeat: repeat;
  background-position: 0 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;

  @media (max-width: 768px) {
    background-size: contain;
  }

  & img {
    width: 100%;
  }
}

.error-container {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100vh;

  & .error-msg {
    @mixin pageTitle;
    color: var(--colorEggshell);
    margin: 54px auto 0;
    padding: 100px 0 80px;
    text-align: center;
  }

  & .footer-title {
    max-width: 500px;
    margin: 0 30px 30px;

    & a {
      @mixin bodyLink;
    }

    & img {
      width: 16px;
      margin: 0 4px -2px 4px;
    }
  }

  & .page {
    & p {
      color: var(--colorSand);
    }

    & .error-photo {
      background-color: var(--colorSlate);
    }
  }
}

.newton {
  background-image: url("/images/not-found/error/14627.jpg");
}
.federer {
  background-image: url("/images/not-found/error/262376.jpg");
}
.disney {
  background-image: url("/images/not-found/error/32917.jpg");
}
.vangogh {
  background-image: url("/images/not-found/error/32603.jpg");
}
.dagama {
  background-image: url("/images/not-found/error/45080.jpg");
}
.laozi {
  background-image: url("/images/not-found/error/65119.jpg");
}
.agnez {
  background-image: url("/images/not-found/error/14611137.jpg");
}
.curie {
  background-image: url("/images/not-found/error/20408.jpg");
}

.error-photo {
  &.sports {
    background-color: var(--colorSports);
  }
  &.arts {
    background-color: var(--colorArts);
  }
  &.publicfigure {
    background-color: var(--colorPublicFigure)
  }
}
