@import '../../common/colors';
@import '../../common/typography';

.help-text {
  font-weight: 700;
  cursor: help;
  display: inline-block;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid var(--colorCtrlBright);

    &::after {
      background-image: url("../../../images/icons/icon-help-h.svg");
    }
  }

  &::after {
    content:"";
    vertical-align: middle;
    display: inline-block;
    background-image: url("../../../images/icons/icon-help.svg");
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
    margin: -1px 2px 0 5px;
    background-size: contain;
  }
}
