@import "components/common/typography";
@import "components/common/colors";
/* @import "components/common/input"; */

.data, .about {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  margin: 0 auto;
  border-top: 1px solid var(--colorCardboard);
  padding: 50px 24px;

  @media (max-width: 1172px) {
    margin: 0 7.2vw;
  }

  & .page-nav {
    flex: 0 1 200px;
    padding-top: 70px;

    @media (max-width: 750px) {
      display: none;
    }

    & .page-items {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    & .item {
      padding: 8px 0;
    }

    & .item-link {
      color: var(--colorDark);
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  & > div {
    flex: 1;
  }

  & .section {
    & + .section {
      margin-top: 50px;
    }
  }

  & iframe {
    width: 100%;
  }

  & h1 {
    font-family: var(--fontBody);
    @apply --profileSectionTitle;
    margin: 30px 0;
  }

  & h2 {
    @apply --profileVizTitle;
    text-transform: none;
    margin: 30px 0 5px;

    &.obj-title {
      text-align: center;
      margin: 40px auto 15px;
    }
  }

  & h3 {
    @apply --searchResults;
    margin-top: 30px;
    color: var(--colorTan);
    letter-spacing: 0.5px;
  }

  & p {
    @apply --bodyText;

    & + p {
      margin-top: 5px;
    }

    & > span {
      font-style: italic;
    }

    &.intro {
      margin-bottom: 15px;
    }

    &.outro {
      margin-top: 15px;
    }

    & a {
      @apply --bodyLink;
    }
  }

  & input {
    display: block;
    width: 100%;
    margin: 10px 0 40px;
    @apply --panelInput;
    @apply --exploreControlInputText;
  }

  & .long-text {
    & p + p {
      margin-top: 10px;
    }
  }

  & .cc-img {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
  }

  & .formulas {
    margin: 20px auto;
    & p {
      text-align: center;
    }
    & img {
      &.f1 {
        height: 17px;
      }
      &.f2 {
        height: 44px;
      }
      &.f3 {
        height: 33px;
      }
      &.f4 {
        height: 37.5px;
      }
    }
  }

  & .api-container {
    & h3 {
      margin: 10px 0 3px;
    }

    & .item {
      @apply --bodyText;
    }

    & p, & .item {
      margin-left: 15px;
    }
  }

  & .footer-title {
    @apply --sectionTitle;
    display: block;
    text-align: center;
    margin: 40px auto 10px;
  }

  & .footer-carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & .footer-carousel-item {
    display: inline-block;
    width: 145px;
    flex: 0 0 auto;
    margin: 10px 20px;
  }

  & .footer-carousel-item-photo {
    display: block;
    width: 145px;
    height: 145px;
    overflow: hidden;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid var(--colorMatza);

    & a {
      background-size: contain;
      background-position: 50% 0%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;

      & img {
        width: 103%;
        height: 104%;
        left: -2%;
        position: relative;
        top: -2%;
      }
    }
  }

  & .footer-carousel-item-title {
    margin: 13px 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;

    & a {
      text-decoration: none;
      outline: none;
      color: var(--colorEggshell);
      @apply --bodyLink;
    }
  }

  & p {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
  }
}

.cesar {
  background-image: url("/images/about/team/cesar_hidalgo.png");
}
.cristian {
  background-image: url("/images/about/team/cristian_jara_figueroa.jpg");
}
.dw {
  background-image: url("/images/logos/logo_datawheel.png");
}
.amy {
  background-image: url("/images/about/team/amy_yu.png");
}
.kevin {
  background-image: url("/images/about/team/kevin_hu.png");
}
.shahar {
  background-image: url("/images/about/team/shahar_ronen.png");
}
.deepak {
  background-image: url("/images/about/team/deepak_jagdish.png");
}
.defne {
  background-image: url("/images/about/team/defne_gurel.png");
}
.tiffany {
  background-image: url("/images/about/team/tiffany_lu.jpg");
}
.ali {
  background-image: url("/images/about/team/ali_almossawi.jpg");
}
.andrew {
  background-image: url("/images/about/team/andrew_mao.png");
}
