.missing-image {
  background-color: rgba(244, 244, 241, .7);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAK0lEQVQYV2P8+vVjPQMDAwM3N38jiMYFGGEShDTAFRLSgKEQlwacCtE1AAAVaBNgQH40pQAAAABJRU5ErkJggg==);
  background-blend-mode: luminosity;
  background-position: center center;
  background-repeat: repeat;
  display: block;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
