@import "../../styles/mixins.css";

/* nav container */
.profile-nav {
  display: block;
  padding-bottom: 25px;
  background-color: var(--colorDark);
  z-index: 10;

  @media (min-width: 751px) {
    padding: 25px;
  }
}

/* the list */
.profile-nav-list {
  display: flex;
  counter-reset: li;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (max-width: 750px) {
    width: 100%;
    padding: 0 7.2vw;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}

/* list item */
.profile-nav-item {
  position: relative;
  list-style: none;

  @media (min-width: 751px) {
    padding: 3px;
    margin: 0 0 0 5px;
  }
}

/* link base style */
.profile-nav-link {
  text-decoration: none;
  outline: none;
  padding: 5px 5px 5px 0;
  @mixin profileNav;
  color: var(--colorEggshell);
  display: flex;
  width: 100%;

  /* interactions */
  &:hover, &:focus {
    color: var(--colorSnow);
    text-decoration: none;

    & .jump-to-text {
      color: inherit;
    }
  }

  /* numeral */
  & .profile-nav-link-roman-numeral::before {
    content: counter(li, upper-roman) ". ";
    counter-increment: li;
    @mixin profileNav;
    color: var(--colorMatza);
    background-color: var(--colorDark);
    display: inline-block;
    min-width: 2em;
    margin: 0 4px 0 0;
  }
}


/* jump to hidden by default */
.jump-to-text {
  display: none;
}

/* dots + jump-to, small screens */
@media (min-width: 400px) and (max-width: 750px) {
  .profile-nav-item {
    padding: 10px 0;
    width: 100%; /* necessary because flex */

    /* dots */
    &:after {
      display: block;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      white-space: nowrap;
      /* sizing */
      width: 100%;
      left: 0;
      right: 0;
      /* positioning */
      position: absolute;
      top: 0.9em; /* fudged into baseline */
      z-index: -1; /* behind */
      /* theming */
      color: var(--colorSand);
      /* handle overflow */
      overflow: hidden;
    }
  }

  /* container for link text and jump text */
  .profile-nav-link {
    display: flex; /* next to number */
    width: 100%;
    justify-content: flex-start; /* space out link text and jump text */
  }

  /* hide the dots with bg color */
  .profile-nav-link-title,
  .jump-to-text {
    background-color: var(--colorDark);
  }

  /* limit link text width */
  .profile-nav-link-title {
    @mixin overflow-ellipsis;
    padding-right: 0.25em; /* hide the dots */
  }

  .jump-to-text {
    @mixin bodyLink;
    color: var(--colorSand);
    text-transform: none;
    display: inline-block;
    /* min-width: 5.25em; */ /* fudged */
    padding-left: 0.5em;
    z-index: 1;
    border-bottom: none;
    justify-self: flex-end;
    margin-left: auto;
    text-align: right;

    /* override bodyLink mixin, probably */
    &:hover, &:focus {
      border: none;
    }
  }
}


/* tiny screens only */
@media (max-width: 399px) {
  .profile-nav-item {
    width: 100%;
    margin-bottom: 1em;

     /* fudge numbers into place */
    &:before {
      position: relative;
      top: -2px;
    }
  }
  .profile-nav-link {
    padding: 0; /* override canon */
  }
  .profile-nav-link-title {
    /* sizing */
    max-width: calc(100% - 2em); /* offset :before numeral */
    /* positioning */
    display: inline-block;
    vertical-align: text-top;
    /* text handling */
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
}
