@import '../../common/typography';
@import '../../common/colors';

.ia {
  @apply --themeDark;
  width: 100%;
  padding: 50px 0 65px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  & h3 {
    @apply --profileVizTitle;
    color: var(--colorEggshell);
  }

  & p {
    @apply --bodyText;

    & span {
      font-weight: 700;
    }
  }

  & a {
    @apply --bodyLink;
  }

  & .deep-link {
    &::after {
      content: '';
      position: relative;
      display: inline-block;
      height: 8px;
      width: 6px;
      margin: 0 0 -1px 3px;
      background: url('../../../images/tri-right.svg') no-repeat;
      background-size: contain;
    }
  }

  & ul {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }

  & h2 {
    @apply --smallCaps;
    font-size: 1em;
    margin: 0 0 5px;
    position: relative;

    &.viz-explorer {
      &::before {
        content: '';
        position: absolute;
        background: url('../../../images/icons/icon-explore.svg') no-repeat;
        background-size: contain;
        width: 17px;
        height: 17px;
        margin: -2px 0 0 -20px;
      }
    }

    &.ranks {
      @media (max-width: 550px) {
        &::before {
          content: '';
          position: absolute;
          background: url('../../../images/icons/icon-rankings.svg') no-repeat;
          background-size: contain;
          width: 18px;
          height: 10px;
          margin: 3px 0 0 -20px;
        }
      }

      @media (min-width: 551px) {
        &::after {
          content: '';
          position: absolute;
          background: url('../../../images/icons/icon-rankings.svg') no-repeat;
          background-size: contain;
          width: 18px;
          height: 10px;
          margin: 3px -22px -2px 0;
        }
      }
    }

    &.profiles {
      &::before {
        content: '';
        position: absolute;
        background: url('../../../images/globalNav/profile-w.svg') no-repeat;
        background-size: contain;
        width: 17px;
        height: 17px;
        margin: -1px 0 0 -19px;
      }
    }
  }

  & .ia-top {
    position: relative;
    margin-top: 30px;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    @media (min-width: 551px) and (max-width: 750px) {
      margin-bottom: 30px;
    }

    @media (min-width: 751px) {
      margin-bottom: 80px;
    }

    & .ia-top-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: visible;
      z-index: 0;

      @media (min-width: 960px) {
        width: 58.59375%;
        max-width: 600px;
        height: 300px;
        background-image: url('../../../images/home/ia-frame.svg');
        background-position: 50% 30px;
      }

      @media (min-width: 551px) and (max-width: 960px) {
        background-image: url('../../../images/home/ia-frame-qrt.svg');
        width: 90%;
        height: 400px;
        background-position: 50% 30px;
      }
    }

    & li {
      flex: 1;
    }
  }

  & .ia-top-item {
    @media (max-width: 550px) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border-style: solid;
      border-color: var(--colorEggshell);
      padding: 10px 10px 10px 25px;

      & + .ia-top-item {
        margin-top: 30px;
      }
      &.viz {
        order: 1;
        border-width: 1px;
      }
      &.ranks {
        order: 2;
        border-width: 1px;
      }
      &.profiles {
        order: 3;
        border-width: 1px 1px 0 1px;
      }
    }

    @media (min-width: 551px) {
      box-sizing: border-box;
      margin: 5px 30px;

      &.ranks {
        text-align: right;
      }
      &.profiles {
        text-align: center;
      }
    }
  }

  & .ia-p-types {
    flex-wrap: wrap;

    & li {
      box-sizing: border-box;
      @media (max-width: 550px) {
        max-width: 80%;
        padding: 10px 10px 10px 25px;

        & + li {
          margin-top: 20px;
        }
      }
      @media (min-width: 551px) and (max-width: 960px) {
        max-width: 45%;
        margin-bottom: 30px;
        padding: 10px;
        background-color: var(--colorDark);
      }
      @media (min-width: 961px) {
        max-width: 23%;
        margin: 5px 0;
      }

      &.ia-p-type {
        z-index: 1;
      }
    }
  }
}
