@import '../../common/typography';
@import '../../common/colors';

.home-head {
  margin: 0 auto;
  text-align: center;

  @media (max-width: 750px) {
    padding: 76px 0 0;
  }

  @media (min-width: 751px) {
    padding: 120px 0 30px;
  }

  & h1 {
    margin: 0 auto;

    & img {
      width: 266px;
    }
  }

  & h3 {
    @apply --priLabel;
    margin: 5px auto 25px;
  }
}

.home-head-content {
  z-index: 200;
  display: flex;

  @media (max-width: 750px) {
    flex-direction: column-reverse;
  }

  @media (min-width: 751px) {
    flex-direction: column;

    & .post {
      z-index: 50;
    }
  }
}

.home-search {
  position: relative;
  max-width: 333px;
  margin: 0 auto;
  text-align: left;
  z-index: 20;

  & img {
    position: absolute;
    width: 16px;
    opacity: 0.4;

    @media (max-width: 750px) {
      margin: 11px 5px 6px 11px
    }

    @media (min-width: 751px) {
      margin: 5px;
    }
  }

  & a {
    width: 100%;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    background: none;
    line-height: 1;
    @apply --normal;
    color: var(--colorSand);
    letter-spacing: 0.5px;
    cursor: pointer;

    &:active, &:focus {
      outline: none;
    }

    @media (max-width: 750px) {
      border: 1px solid var(--colorMatza);
      border-radius: 20px;
      padding: 8px 14px 5px 32px;
      background-color: var(--colorEggshellOverlay);

      &:hover {
        background-color: var(--colorKashi);
      }
    }

    @media (min-width: 751px) {
      border-bottom: 1px solid var(--colorMatza);
      padding: 5px 28px 2px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
