@import "components/common/mixins";

.profile-grid {
  @mixin max-container-width;
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;

  & .grid-title {
    margin: 0 auto 50px;
    @mixin sectionTitle;
    display: block;
    text-align: center;
    font-size: 26px;
  }

  & .grid-row {
    list-style: none;
    lost-utility: clearfix;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0;

    & .grid-box {
      border: 1px solid var(--colorMatza);
      box-sizing: border-box;
      margin-top: 0;
      margin-bottom: 30px;
      height: 200px;
      position: relative;
      overflow: hidden;

      & h3 {
        @mixin priTitle;
        font-size: var(--sizeLarge);
        color: var(--colorSlate);
        display: none;
        text-align: center;
        width: 100%;
        z-index: 9;
        padding: 1em;
      }

      & a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      & .grid-box-bg-container {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        position: absolute;
        /* z-index: -1; */
      }

      & .grid-box-bg-img-mask {
        background-color: var(--colorEggshell);
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      & .grid-box-bg-img {
        width: 100%;
        height: 100%;
        display: block;
        mix-blend-mode: darken;
        background-position: 50% 30%;
        background-size: cover;
        transition: width 1s, height 1s, background-color 0.5s, background-position 0.5s;

        &.ada {background-image:url('/images/profile/people/974.jpg');}
        &.gandhi {background-image:url('/images/profile/people/19379.jpg');}
        &.tut {background-image:url('/images/profile/people/30437.jpg');}
        &.ubolt {background-image:url('/images/profile/people/4764846.jpg');}
        &.nap {background-image:url('/images/profile/people/69880.jpg');}
        &.mao {background-image:url('/images/profile/people/19527.jpg');}
        &.ein {background-image:url('/images/profile/people/736.jpg');}
        &.nyc {background-image:url('/images/profile/place/5128581.jpg');}
        &.london {background-image:url('/images/profile/place/2643743.jpg');}
        &.hawk {background-image:url('/images/profile/people/19376148.jpg');}
        &.muhammad {background-image:url('/images/profile/people/18934.jpg');}
        &.writer {background-image:url('/images/profile/people/16027.jpg');}
        &.explorers {background-image:url('/images/profile/people/526051.jpg');}
        &.berlin {background-image:url('/images/profile/place/2950159.jpg');}
        &.tokyo {background-image:url('/images/profile/place/1850147.jpg');}
        &.evora {background-image:url('/images/profile/people/8611104.jpg');}
        &.aish {background-image:url('/images/profile/people/11983273.jpg');}
        &.mark {background-image:url('/images/profile/people/2844938.jpg');}
        &.jet {background-image:url('/images/profile/people/16308.jpg');}
        &.ron {background-image:url('/images/profile/people/66164.jpg');}
        &.budd {background-image:url('/images/profile/people/3395.jpg');}
        &.marx {background-image:url('/images/profile/people/16743.jpg');}
        &.moscow {background-image:url('/images/profile/place/524901.jpg');}
        &.istanbul {background-image:url('/images/profile/place/745044.jpg');}
        &.linguist {background-image:url('/images/profile/people/21566.jpg');}
        &.arch {background-image:url('/images/profile/people/220556.jpg');}
        &.fdir {background-image:url('/images/profile/people/26683.jpg');}
        &.bair {background-image:url('/images/profile/place/3435910.jpg');}
        &.aung {background-image:url('/images/profile/people/2847.jpg');}
        &.krishna {background-image:url('/images/profile/people/42154.jpg');}
        &.print {background-image:url('/images/profile/era/2.jpg');}
        &.dali {background-image:url('/images/profile/people/40112.jpg');}
        &.aung {background-image:url('/images/profile/people/2847.jpg');}
        &.yulia {background-image:url('/images/profile/people/1246843.jpg');}
        &.frida {background-image:url('/images/profile/people/162276.jpg');}
        &.gmr {background-image:url('/images/profile/people/750492.jpg');}
        &.ban {background-image:url('/images/profile/people/2346975.jpg');}
        &.cara {background-image:url('/images/profile/people/35189147.jpg');}
      } /* end .grid-box-bg-img */

      & a:hover {
        text-decoration: none;

        & h3 {display: block;}

        & .grid-box-bg-container {
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: var(--colorEggshellOverlay) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAM0lEQVQoU2P88uXDGR4eARMGHIARJI5PEVgBPkVwBbgUoSjApghDAboirAqQFeFUAFMEAHvkH63uqfBbAAAAAElFTkSuQmCC) repeat;
          }
        }
        & .grid-box-bg-img-mask {
          filter: blur(6px) saturate(120%) contrast(130%);
        }

        & .grid-box-bg-img {
          width: 110%;
          height: 110%;
          background-position: 50% 50%;

          &.scitech {background-color: var(--colorScienceTech);}
          &.arts {background-color: var(--colorArts);}
          &.sports {background-color: var(--colorSports);}
          &.pubfig {background-color: var(--colorPublicFigure);}
          &.inst {background-color: var(--colorInstitutions);}
          &.biz {background-color: var(--colorBusiness);}
          &.hum {background-color: var(--colorHumanities);}
          &.expl {background-color: var(--colorExploration);}
        }
      }
    } /* end .grid-box */
  } /* end .grid-row */
}


/* ------------------------------------- */
/* responsive
/* ------------------------------------- */

/* home page profile grid */
@media (min-width: 400px) and (max-width: 599px) {
  .profile-grid .grid-box {
    lost-waffle: 1/2;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .profile-grid .grid-box {
    lost-waffle: 1/3;
  }
}
@media (min-width: 800px) {
  .profile-grid .grid-box {
    lost-waffle: 1/4;
  }
}
