:root {

  /* color themes */
  @define-mixin themeDark {
    background-color: var(--colorDark);
    color: var(--colorEggshell);
  }

  @define-mixin themeLight {
    background-color: var(--colorEggshell);
    color: var(--colorDark);
  }

}
