@import "components/common/colors";
@import "components/common/typography";

.d3plus-tooltip {
  border: 1px solid var(--colorMatza) !important;
  font-family: var(--fontBody);
  z-index: 100;

  & .d3plus-tooltip-body {
    color: var(--colorStone);
    font-size: 8px;
    letter-spacing: 0;
    padding: 7px 7px 0;

    & .sub {
      color: var(--colorSlate);
      display: inline-block;
      font-size: 9px;
      letter-spacing: 0.7px;
      padding-bottom: 6px;
      text-transform: uppercase;
    }

    & .center {
      color: var(--colorSlate);
      display: block;
      font-size: 9px;
      letter-spacing: 0.7px;
      padding-bottom: 6px;
      text-align: center;
    }

    & .bold {
      color: var(--colorSlate);
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 7px;
      margin-right: 5px;
    }

    & .large {
      color: var(--colorSlate);
      display: block;
      margin-top: 3px;
      margin-bottom: -7px;
      @apply --sectionTitle;
      font-size: 18px;
    }

  }

}
