:root {

  @define-mixin pageTitle {
    font-size: var(--sizeXXL);
    font-weight: 600;
    line-height: calc(1.3 * var(--sizeXXL));
  }

  @define-mixin priTitle {
    color: var(--colorDark);
    font-family: var(--fontTitle);
    text-transform: uppercase;
    font-size: var(--sizeXL);
    font-weight: 400;
    letter-spacing: 0.3rem;
  }

  @define-mixin priLabel {
    color: var(--colorDark);
    font-size: var(--sizeBody);
    font-weight: 400;
    letter-spacing: .14rem;
    text-transform: uppercase;
  }

  @define-mixin secLabel {
    color: var(--colorTan);
    letter-spacing: .07rem;
    font-weight: 400;

    @media (min-width: 751px) {
      font-size: var(--sizeBody);
    }

    @media (max-width: 750px) {
      font-size: var(--sizeMedium);
    }
  }

  @define-mixin contextLabel {
    color: var(--colorTan);
    font-weight: 600;
    letter-spacing: .05rem;
    text-transform: uppercase;

    @media (min-width: 751px) {
      font-size: var(--sizeSmall);
    }

    @media (max-width: 750px) {
      font-size: var(--sizeMedium);
    }
  }

  @define-mixin sectionTitle {
    font-family: var(--fontBody);
    font-size: var(--sizeML);
    font-weight: 400;
    /* line-height: calc(1.3 * var(--fontBody)); */
    letter-spacing: 0;
  }

  @define-mixin subHeading {
    font-size: var(--sizeLarge);
    font-weight: 700;
    line-height: 1.725rem;
  }

  @define-mixin normal {
    font-size: var(--sizeBody);
    font-weight: 400;
    line-height: calc(1.7 * var(--sizeBody));
  }

  @define-mixin small {
    font-size: var(--sizeSmall);
    font-weight: 400;
  }

  @define-mixin bodyText {
    font-size: var(--sizeSmall);
    line-height: calc(var(--sizeSmall) * 2);
    margin: 0;
    font-weight: 400;

    @media (max-width: 750px) {
      font-size: var(--sizeBody);
      line-height: calc(2 * var(--sizeBody));
    }
  }

  @define-mixin bodyLink {
    font-weight: 700;
    color: currentColor;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid currentColor;
    }
  }

  @define-mixin deepLink {

  }

  @define-mixin smallCaps {
    font-size: var(--sizeSmall);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .07rem;
  }

  @define-mixin profileIntroTitle {
    font-size: var(--sizeSmall);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .07rem;
    line-height: calc(1.75 * var(--sizeSmall));

    @media (max-width: 750px) {
      font-size: var(--sizeMobileSmall);
      line-height: calc(1.6 * var(--sizeMobileSmall));
    }
  }

  @define-mixin boldSmallCaps {
    font-size: var(--sizeSmall);
    font-weight: 600;
    line-height: var(--sizeSmall);
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  /* this is content only for an ::after element  */
  @define-mixin dropdownLink {
    content: "";
    position: relative;
    display: inline-block;
    height: 6px;
    width: 12px;
    margin: 0 0 1px 2px;
    background-image: url("/images/ui/tri-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @define-mixin exploreControlHeader {
    color: var(--colorEggshell);
    font-size: var(--sizeSmall);
    letter-spacing: 0.05rem;
    font-weight: 400;
  }

  @define-mixin exploreControlTitles {
    color: var(--colorStone);
    font-size: var(--sizeXS);
    line-height: calc(1.3 * var(--sizeXS));
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  @define-mixin exploreControlLabels {
    font-size: var(--sizeXXS);
    color: var(--colorSlate);
    font-weight: 400;
    letter-spacing: .07rem;
    line-height: var(--sizeXXS);
    text-transform: uppercase;
  }

  @define-mixin exploreControlActiveLink {
    color: var(--colorDark);
    font-weight: 700;
    border-bottom: 2px solid var(--colorCtrlShape);
  }

  @define-mixin exploreControlActiveLinkHover {
    border-bottom: 2px solid var(--colorCtrlShape);
    cursor: default;
  }

  @define-mixin exploreControlInputText {
    color: var(--colorCtrl);
    font-family: var(--fontBody);
    font-weight: 600;
    font-size: var(--sizeSmall);
    line-height: var(--sizeBody);
  }

  @define-mixin profileNav {
    text-transform: uppercase;
    letter-spacing: .05rem;

    @media (min-width: 751px) {
      font-size: var(--sizeSmall);
      font-weight: 700;
      line-height: var(--sizeSmall);
    }

    @media (max-width: 750px) {
      font-size: var(--sizeBody);
      line-height: var(--sizeBody);
      font-weight: 600;
    }
  }

  @define-mixin calloutText {
    color: var(--colorTan);
    font-size: var(--sizeLarge);
    font-weight: 400;
    line-height: var(--sizeLarge);
    letter-spacing: 0.057rem;
  }

  @define-mixin profileSectionTitle {
    font-size: var(--sizeML);
    font-weight: 400;
    line-height: var(--sizeML);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  @define-mixin profileVizTitle {
    @mixin sectionTitle;
    color: var(--colorBlackhole);
  }

  @define-mixin searchResults {
    font-size: var(--sizeMedium);
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
  }

  @define-mixin panelInput {
    height: 30px;
    padding: 7px 5px 3px;
    appearance: none;
    border: 1px solid var(--colorTan);
    box-sizing: border-box;
    border-radius: 0;
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
  }
}
