@import "components/common/mixins";
@import url('https://fonts.googleapis.com/css?family=Marcellus');

.trivia-page {
  @mixin max-container-width;
  display: flex;
  flex-direction: row;
  width: 1024px;
  margin: 0 auto;
  border-top: 1px solid var(--colorCardboard);
  padding: 80px 0;
  &.trivia-results {
    @mixin themeLight;
    & .quiz {
      background-color: transparent;
    }
  }
}

h1.trivia-title {
  /* @mixin priTitle; */
}

.quiz {
  @mixin themeDark;
  border-radius: 16px;
  margin: 40px 0 0 0;
  width: 100%;

  @media (max-width: 450px) {
    margin: 10px 0 0 0;
  }

  & .error {
    text-align: center;
  }
}

.trivia-question {
  /* @mixin profileSectionTitle; */
  @mixin priTitle;
  color: var(--colorEggshell);
  font-size: var(--sizeXXL);
  margin: 30px 20px 0 20px !important;
  text-align: center !important;
  @media (max-width: 750px) {
    font-size: var(--sizeXL);
  }
  @media (max-width: 450px) {
    font-size: var(--sizeML);
  }
}

.progress {
  @mixin secLabel;
  text-align: center;
}

.answers {
  margin: 0 20px;
}

.answer {
  background-color: var(--colorStone);
  border: 1px solid #fff;
  border-radius: 5px;
  color: var(--colorKashi);
  cursor: pointer;
  display: block;
  margin: 10px 0;
  padding: 5px 10px 5px 45px;
  position: relative;
  font-size: 22px;
  text-align: left;
  transition: ease-in-out, width 0.35s ease-in-out;
  /* width: 610px; */
  width: 100%;
}

.answer.selected {
  color: #4f4c4c;
  background-color: #f8ce56;
  & .letter {
    color: var(--colorStone);
  }
}

.answer:hover {
  color: var(--colorSlate);
  background-color: var(--colorCardboard);
  & .letter {
    color: var(--colorStone);
  }
}

.answer:focus {
  outline: none;
}

.letter {
  color: var(--colorCardboard);
  width: 30px;
  position: absolute;
  left: 0;
  text-align: center;
  height: 28px;
  top: 0;
  padding: 5px;
  text-transform: uppercase;
}

.continue {
  margin: 0 20px;
  text-align: right;
}

.btn-continue {
  background-color: var(--colorStone);
  border: 2px solid #fff;
  border-radius: 5px;
  color: var(--colorKashi);
  border-radius: 5px;
  padding: 10px 50px;
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px 0;
  cursor: pointer;
  font-weight: bold;
  &:focus {
    outline: none;
  }
  &:hover {
    color: var(--colorSlate);
    background-color: var(--colorCardboard);
  }
  &.btn-disabled {
    background-color: var(--colorSlate);
    border-color: var(--colorStone);
    color: var(--colorStone);
    cursor: default;
  }
}


.results {
  & h2 {
    text-align: center;
  }
  & > ul {
    margin: 0;
    padding: 0;
  }
  & .result-question {
    border: solid 1px var(--colorStone);
    border-radius: 10px;
    /* box-shadow: 0 1px 1px rgba(35, 53, 58, 0.15), 0 2px 2px rgba(16,27,30,.15), 0 4px 4px rgba(16,27,30,.15), 0 8px 8px rgba(16,27,30,.15), 0 16px 16px rgba(16,27,30,.15); */
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin: 30px 0;
    padding: 20px;
    &.q-correct {
      border-left: solid 10px #32BF84;
    }
    &.q-incorrect {
      border-left: solid 10px #FD5956;
    }

    & .a-correct {
      & .bp3-icon {
        color: #32BF84;
      }
    }
    & .a-incorrect {
      & .bp3-icon {
        color: #FD5956;
      }
    }

    & .a-yours {
      @mixin secLabel;
    }

    & .result-question-title {
      @mixin priTitle;
      letter-spacing: 0.15rem;
      margin: 0 0 10px 0;
      font-size: var(--sizeLarge);
    }
  }

}
