@import "components/common/mixins";
@import url('https://fonts.googleapis.com/css?family=Marcellus');

.trivia-page {
  @mixin max-container-width;
  display: flex;
  flex-direction: row;
  width: 1024px;
  margin: 0 auto;
  border-top: 1px solid var(--colorCardboard);
  padding: 80px 0;
  &.trivia-results {
    @mixin themeLight;
    & .quiz {
      background-color: transparent;
    }
  }
}

.buttonShareKey::before {
  content: "";
  display: block;
  background: url("/images/icons/icon-share.svg") no-repeat center;
  width: 16px;
  height: 22px;
  float: left;
  margin: 0px 5px 0 0;
}

#buttonShareKey {
  background-color: rgba(208, 201, 191, 0.6);
  border: 1px solid var(--colorCardboard);
  border-radius: 5px;
  margin: 5px 5px 0px 0px;
  padding-right: 15px;
  color: none;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    color: var(--colorSlate);
    background-color: var(--colorCardboard);
  }
  &.btn-disabled {
    background-color: var(--colorSlate);
    border-color: var(--colorStone);
    color: var(--colorStone);
    cursor: default;
  }
}

.countdown {
  font-size: 2.9rem;
  color: #F6C646;
  .label {
    font-size: 5rem;
    font-color: #F6C646;
  }
  .title {
    margin: 0;
    text-align: left;
  }
}

h1.trivia-title {
  /* @mixin priTitle; */
  margin: 80px 0 0 0;
}

.quiz {
  @mixin themeDark;
  border-radius: 16px;
  margin-top: 40px;
  margin-left: 20%;
  width: 60%;
  text-align: center;
  opacity: 0.85;
  @media (max-width: 450px) {
    margin-left: 10%;
    width: 80%;
  }

  & .error {
    text-align: center;
  }
}

.trivia-question {
  /* @mixin profileSectionTitle; */
  @mixin priTitle;
  color: var(--colorEggshell);
  font-size: var(--sizeXXL);
  margin: 30px 20px 0 20px !important;
  text-align: center !important;
  @media (max-width: 750px) {
    font-size: var(--sizeXL);
  }
  @media (max-width: 450px) {
    font-size: var(--sizeML);
  }
}

.progress {
  @mixin secLabel;
  text-align: center;
}

.answers {
  margin: 0 20px;
}

.answer {
  background-color: var(--colorStone);
  border: 1px solid #fff;
  border-radius: 5px;
  color: var(--colorKashi);
  cursor: pointer;
  display: block;
  margin: 10px 0;
  padding: 5px 10px 5px 45px;
  position: relative;
  font-size: 22px;
  text-align: left;
  transition: ease-in-out, width 0.35s ease-in-out;
  /* width: 610px; */
  width: 100%;
}

.answer.selected {
  color: #4f4c4c;
  background-color: #f8ce56;
  & .letter {
    color: var(--colorStone);
  }
}

.answer:hover {
  color: var(--colorSlate);
  background-color: var(--colorCardboard);
  & .letter {
    color: var(--colorStone);
  }
}

.answer:focus {
  outline: none;
}

.letter {
  color: var(--colorCardboard);
  width: 30px;
  position: absolute;
  left: 0;
  text-align: center;
  height: 28px;
  top: 0;
  padding: 5px;
  text-transform: uppercase;
}

.continue {
  margin: 0 20px;
  text-align: right;
}

.btn-continue {
  background-color: var(--colorStone);
  border: 2px solid #fff;
  border-radius: 5px;
  color: var(--colorKashi);
  border-radius: 5px;
  padding: 10px 50px;
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px 0;
  cursor: pointer;
  font-weight: bold;
  &:focus {
    outline: none;
  }
  &:hover {
    color: var(--colorSlate);
    background-color: var(--colorCardboard);
  }
  &.btn-disabled {
    background-color: var(--colorSlate);
    border-color: var(--colorStone);
    color: var(--colorStone);
    cursor: default;
  }
}


.results {
  & h2 {
    text-align: center;
    .sharebutton {
      content: "";
      display: block;
      background: url("/images/icons/icon-share.svg") no-repeat center;
      width: 20px;
      height: 20px;
      float: left;
      margin: 0 5px 0 0;
    }
  }
  & > ul {
    margin: 0;
    padding: 0;
  }
  & .result-question {
    border: solid 1px var(--colorStone);
    border-radius: 10px;
    width: 80%;
    /* box-shadow: 0 1px 1px rgba(35, 53, 58, 0.15), 0 2px 2px rgba(16,27,30,.15), 0 4px 4px rgba(16,27,30,.15), 0 8px 8px rgba(16,27,30,.15), 0 16px 16px rgba(16,27,30,.15); */
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin-top: 30px;
    margin-left: 10%;
    padding: 20px;
    &.q-correct {
      border-left: solid 10px #32BF84;
    }
    &.q-incorrect {
      border-left: solid 10px #FD5956;
    }

    & .a-correct {
      & .bp3-icon {
        color: #32BF84;
      }
    }
    & .a-incorrect {
      & .bp3-icon {
        color: #FD5956;
      }
    }

    & .a-yours {
      @mixin secLabel;
    }

    & .result-question-title {
      @mixin priTitle;
      letter-spacing: 0.15rem;
      margin: 0 0 10px 0;
      font-size: var(--sizeLarge);
    }
  }
}



.consent{
  .gettingstarted {
    .gif {
      width: 100%;
    }
  }
  
  .consentform {
    p {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
    img {
      width: 100%;
    }
  }
  
  .options {
    align-items: center;
    display: flex;
    justify-content: space-between;
  
    .button {
      background-color: $primary;
      background-image: none;
      border-radius: 0px;
      border: 1px solid $primary;
      box-shadow: none;
      color: $white;
      cursor: pointer;
      font-family: $text-font;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      &:hover {
        border: 1px solid $primary;
        color: $black;
      }
      &.lite {
        background-color: transparent;
        border: 1px solid $primary;
        color: $black;
      }
    }
  }

  .question-wrapper {
    margin-bottom: 10px;
    h6{
      margin: 0.2em;
    }
    .popup-select {
      .button {
        width: 150px;
        display: flex;
        justify-content: space-between;
      }
    }
    label {
      font-size: 0.8rem;
    }
    .bp3-button-group {
      width: 80%;
      .bp3-button {
        flex: 1;
        align-items: center;
        justify-content: center;
        &.selected {
          background: $primary;
        }
        .bp3-button-text {
          text-align: center;
        }
      }
    }
  }
}

