.embed {
  & .explore-container {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  & .explore-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  & .explore {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  & .explore > div.explore-head {
    flex: 0;
    margin: 0;
  }
  & .explore > div.explore-body {
    flex: 1;
  }

  & .explore-viz-container {
    margin: 0;
    /* border: solid 1px crimson; */
  }
}
