@import "components/common/mixins";
/* @import '/reacttable-override';
@import '/slider-override'; */

:root {
  --viz-height: 70vh;
}

.explore-container {
  width: 100%;
  margin: 90px auto 5px;
  box-sizing: border-box;
}

.explore-title {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  @mixin profileVizTitle;
  text-transform: none;
}

.explore-date {
  @mixin searchResults;
  margin: 3px 0;
  color: var(--colorTan);
  letter-spacing: 0.5px;
  text-align: center;
}

.explore-head {
  & p {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
  }
}

.explore, .rankings {
  color: var(--colorSlate);
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;

  @media (min-width: 751px) {
    padding-top: 5px;
  }
}

.explore {
  @media (max-width: 750px) {
    padding-top: 10px;
  }
}

.rankings {
  @media (max-width: 750px) {
    padding-top: 10px;
  }
}

.ranking-table-container, .explore-viz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.explore-viz-container {
  height: var(--viz-height);
  min-height: 500px;
  position: relative;

  & .viz {
    position: absolute !important;
    height: 100%;
  }

  @media (min-width: 751px) {
    margin-left: 12px;
    top: -3px; /* fudge into place */
    min-height: 687px; /* line up with controls */
  }
}

.explore-head {
  margin-bottom: 25px;

  @media (max-width: 750px) {
    margin-top: -32px;
  }
}

.rankings {
  max-width: 1400px;
  margin: 0 auto;

  & .explore-title {
    text-transform: capitalize;
  }
}

.explore-body {
  display: flex;
  @media (min-width: 751px) {
    flex-direction: row;
  }

  @media (max-width: 750px) {
    flex-direction: column;
    width: 100%;
  }
}

/* shared Control Panel styles*/
.explore-controls {
  transition: width 1s;

  @media (min-width: 751px) {
    flex: 0 0 208px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 208px;
  }

  @media (max-width: 750px) {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    z-index: 98;
  }

  & h3 {
    @mixin exploreControlTitles;
    margin: 0 0 5px;
  }

  & h4 {
    @mixin exploreControlLabels;
    margin: 0;
  }

  & span {
    @mixin exploreControlTitles;
    margin: auto;
  }

  & select {
    width: 100%;
    background-image: url('/images/ui/tri-dd-down.svg');
    background-position: 100% 50%;
    background-size: 30px 7px;
    cursor: pointer;
    @mixin panelInput;
    @mixin exploreControlInputText;

    &.add-control-input {
      margin-top: 10px;
    }
  }

  & .filter + .filter {
    margin: 23px 0 0;
  }

  & .filter {
    & select {
      margin-top: 7px;
    }
  }

  & .switch-explore-link {
    border-bottom: 1px solid transparent;
    @mixin bodyLink;
    @mixin smallCaps;
    position: relative;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      background: url("/images/ui/tri-right-b.svg") no-repeat;
      background-size: contain;
      width: 7px;
      height: 13px;
      margin: 0 3px -4px 0;
      transform: scaleX(-1);
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      background: url("/images/nav/explore.svg") no-repeat;
      background-size: contain;
      top: -2px;
      right: -20px;
      width: 17px;
      height: 17px;
    }
  }

  & .options {
    padding-left: 1px;

    & a {
      @mixin bodyLink;
      @mixin exploreControlTitles;
      color: inherit;

      &.active {
        @mixin exploreControlActiveLink;

        &:hover {
          @mixin exploreControlActiveLinkHover;
        }
      }
    }
  }

  & .viztype-options {
    & li {
      padding-top: 0.625em;
    }

    & a {
      margin-left: 20px;

      &::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.25em;
        height: 1.25em;
        margin: 1px 0 0 -20px;
      }

      &.treemap::before {
        background-image: url('/images/explore/treemap.svg');
      }
      &.stackedarea::before {
        background-image: url('/images/explore/stacked.svg');
      }
      &.linechart::before {
        background-image: url('/images/explore/line.svg');
      }
      &.map::before {
        background-image: url('/images/explore/map.svg');
      }

      &.occupations::before {
        background-image: url('/images/explore/occupations.svg');
        background-position: 50% 0;
      }
      &.people::before {
        background-image: url('/images/explore/people.svg');
        background-position: 50% 0;
      }
      &.places::before {
        background-image: url('/images/explore/places.svg');
        background-position: 50% 0;
      }
      &.d-3::before {
        background-image: url('/images/explore/d-3.svg');
      }
      &.d-2::before {
        background-image: url('/images/explore/d-2.svg');
        background-size: 10px 9px;
        background-position: 50% 0;
      }
      &.d-1::before {
        background-image: url('/images/explore/d-1.svg');
        background-size: 5px 5px;
        background-position: 50% 50%;
      }
    }
  }

  & .flat-options {
    display: flex;
    flex-direction: row;
    align-items: center;

    & li {
      display: inline-block;

      &:after {
        content: "|";
        font-size: 11px;
        padding: 0 4px;
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  & .flat-options-w-title {
    display: flex;

    & ul {
      display: flex;
      margin: 0;
    }

    & h3 {
      display: inline-block;
      margin: 0 6px 0 0;
    }
  }

  & .subfilter {
    margin-top: 10px;

    & .options {
      padding-left: 0;
    }
  }

  & .control-group {
    background-color: var(--colorEggshell);
    border: solid 1px var(--colorSand);
    padding: 16px;
    box-sizing: border-box;

    @media (min-width: 751px) {
      margin-bottom: 9px;
      padding: 11px;
    }

    @media (max-width: 750px) {
      border-bottom-color: var(--colorMatza);
      border-top-color: var(--colorMatza);
      margin-bottom: -1px;
      box-shadow: 3px 0 2px var(--colorSandOverlay), -2px 0 1px var(--colorSandOverlay);

      &:last-child {
        box-shadow: 0 2px 1px var(--colorSandOverlay), 3px 0 2px var(--colorSandOverlay), -2px 0 1px var(--colorSandOverlay);
        border-bottom-color: var(--colorSand);
      }
    }
  }

  & .share-group {
    & li {

      /* space out adjacent items */
      &:not(:last-child) {
        margin-right: 1.5em;
      }

      &::after {
        content: "";
        padding: 0;
      }

      & a {
        vertical-align: text-bottom;

        &:hover {
          border-bottom: 0;
          opacity: 0.5;
        }
      }
    }
  }

  & .advanced-group {
    & span {
      margin-right: 15px;
      margin-left: 10px;
    }
  }

  & .flat-group {
    display: flex;
    justify-content: space-between;
  }

  & .year-inputs {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 6px;

    & input {
      @mixin panelInput;
      @mixin exploreControlInputText;
      text-align: center;
      width: 70px;
    }
  }
}

.control-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 30px;
  box-sizing: border-box;
  background-color: var(--colorSlate);

  &.mobile {
    width: calc(100% - 90px);
    border: none;
    top: -36px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &:hover .control-icon {
    background-image: url('/images/icons/icon-hide-h.svg');
  }
  &:active .control-icon {
    background-image: url('/images/icons/icon-show.svg');
  }

  & h2 {
    margin: 0;
  }

  @media (min-width: 751px) {
    padding: 10px 5px 7px 30px;

    &.mobile {
      display: none;
    }
  }

  @media (max-width: 750px) {
    position: absolute;
    top: -30px;
    right: 45px;
    left: 45px;
    padding: 6px;
    max-width: 100%;
    box-sizing: border-box;

    &.desktop {
      display: none;
    }
  }

  & h2 {
    @mixin exploreControlHeader;

    @media (min-width: 751px) {
      position: relative;
      margin: 0;

      &.rankings {
        &::before {
          content: '';
          position: absolute;
          background: url('/images/icons/icon-rankings.svg') no-repeat;
          background-size: contain;
          width: 16px;
          height: 9px;
          margin: -2px 0 0 -20px;
        }
      }

      &.viz-explorer {
        &::before {
          content: '';
          position: absolute;
          background: url('/images/icons/icon-explore.svg') no-repeat;
          background-size: contain;
          width: 17px;
          height: 17px;
          margin: -2px 0 0 -20px;
        }
      }
    }
  }

  & .control-icon {
    background-repeat: no-repeat;
    background-image: url('/images/icons/icon-hide.svg');
    background-position: 50%;
    background-size: contain;
    width: 19px;
    height: 12px;
    cursor: pointer;
  }
}

.main-selector {
  & .filter {
    & h3 {
      @media (max-width: 750px) {
        margin: 0;
      }
    }

    & + .filter {
      @media (min-width: 640px) and (max-width: 750px) {
        margin: 0;
      }

      @media (max-width: 639px) {
        margin: 20px 0 0;
      }
    }
  }

  & .viztype-options {
    @media (max-width: 750px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & li {
        padding: 13px 5px 3px;
      }
    }
  }
}

/* hidden panel styles */
.explore-controls {
  & .helper-text {
    display: none;
  }

  @media (min-width: 751px) {
    &.hide {
      box-sizing: border-box;

      & .control-icon {
        background-image: url('/images/icons/icon-show.svg');
        margin-bottom: -8px;

        &:hover {
          background-image: url('/images/icons/icon-hide.svg');
          margin-bottom: 0;
          margin-top: -2px;
        }
      }

      & .control-group {
        display: none;
      }

      & .helper-text {
        display: inline-block;
        @mixin exploreControlHeader;
        font-size: 1em;
        text-transform: capitalize;
      }
    }
  }

  @media (max-width: 750px) {
    & .control-group {
      display: none;
    }
    &.mobile-show {
      & .control-group {
        display: block;
      }
    }
    & .filter + .filter {
      margin-top: 1em;
    }
    & .viztype-options > li {
      padding: 0.5em 0;

      &:not(:last-child) {
        margin-right: 2em;
      }
    }
  }
}

.explore-controls {
  &.hide {
    @media (min-width: 751px) {
      height: var(--viz-height);
      width: 38px;
      flex: 0 0 38px;

      & .control-header {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 100%;
        padding: 20px 0 0;
        position: relative;

        & h2 {
          transform: rotate(270deg);
          display: flex;
          position: absolute;
          top: 124px;
        }
      }
    }
  }
}
