@import '../../common/colors';
@import '../../common/typography';

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(244, 244, 241, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQYV2P88uXjfx4efkYGJADmoEvAVSBLoGiDSaAIwowCABjtE96SXaX4AAAAAElFTkSuQmCC) repeat;
  }
}

.bg-img-mask {
  background-color: var(--colorArts);
  display: flex;
  justify-content: space-between;
  filter: blur(7px) saturate(160%);
  position: absolute;
  width: 105%;
  height: 105%;
  top: -2.5%;
  bottom: -2.5%;
  left: -2.5%;
  right: -2.5%;
  z-index: -1;
  overflow: hidden;

  & .bg-img-l {
  }

  & .bg-img-r {
    transform: scaleX(-1);
  }
}

.bg-img {
  background-color: var(--colorArts);
  background-blend-mode: darken;
  background-position: center right;
  background-size: cover;
  height: 100%;
  width: 50%;
}

.contribute { @apply --small; }

.info {
  background: rgba(244, 244, 244, 0.85);
  border: solid 1px #979797;
  margin: 100px auto 60px auto;
  width: 620px;
  z-index: 9;
}

.topDesc {
  color: #9E978D;
  font-size: 16px;
  text-transform: uppercase;
}

.topSubtitle {
  color: #363636;
  font-size: 21px;
  text-transform: uppercase;
}

.title {
  color: #363636;
  font-size: 48px;
  margin: 20px 0 0px 0;
  text-transform: uppercase;
}

.bottomSubtitle {
  color: #90908D;
  font-size: 21px;
  text-transform: uppercase;
}
