@import '../../common/colors';
@import '../../common/typography';

.intro-section {
  @apply --themeDark;
  height: 260px;
  position: relative;

  & .intro-deco {
    position: absolute;
    left: -15vw;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  & .deco-lines {
    height: 100%;
    width: 330px;
    display: flex;
    justify-content: space-between;
  }

  & .deco-line {
    background-color: var(--colorArts);
    width: 1px;
    height: 300%;
    display: inline-block;
    z-index: 1;
    transform: rotate(-45deg);
    transform-origin: 0 0;
  }

  & .intro-content {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  & img {
    height: 100%;
    margin-right: 15vw;
    z-index: 2;
    filter: grayscale(100%) contrast(105%) brightness(105%);
  }

  & .intro-text {
    width: 47.5vw;
    max-width: 550px;
    z-index: 3;
  }

  & p {
    @apply --bodyText;
  }

  & a {
    @apply --bodyLink;
  }

  & .deep-link {
    &::after {
      content: '';
      position: relative;
      display: inline-block;
      height: 8px;
      width: 6px;
      margin: 0 0 0 3px;
      background: url('../../../images/tri-right.svg') no-repeat;
      background-size: contain;
    }
  }

  & h3 {
    @apply --smallCaps;
    max-width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto 10px;

    & img {
      display: block;
      margin: 0 auto 10px;
    }
  }
}
