@import '../../common/colors';
@import '../../common/typography';

.profile-section {

  &:before {
    background: black;
    color: white;
    content: "section";
    display: block;
    font-size: 11px;
    text-align: center;
  }
}
