.gettingstarted {
  .gif {
    width: 100%;
  }
}

.boardS{
  margin: 10px;
  align-items: center; 
}

.bestScoreB{
  padding: 10px;
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: $primary;
  font-size: 14px;
  display: inline-grid;
}
.numberDaysB{
  padding: 10px;
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: $primary;
  font-size: 14px;
  display: inline-grid;
}
.numberAttemptsB{
  padding: 10px;
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: $primary;
  font-size: 16px;
  display: inline-grid;
}
.numberWinsB{
  padding: 10px;
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: $primary;
  font-size: 14px;
  display: inline-grid;
}
.currentStreakB{
  padding: 10px;
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: $primary;
  font-size: 14px;
  display: inline-grid;
}
.maxStreakB{
  padding: 10px;
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: $primary;
  font-size: 14px;
  display: inline-grid;
}
.line1{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.line2{
  width: 100%;
  text-align: center;
}

.numberAttempts{
  font-size: 25px;
  padding-bottom: 10px;
}
.bestScore{
  font-size: 25px;
  padding-bottom: 10px;
}
.numberDays{
  font-size: 25px;
  padding-bottom: 10px;
}
.numberWins{
  font-size: 25px;
  padding-bottom: 10px;
}
.currentStreak{
  font-size: 25px;
  padding-bottom: 10px;
}
.maxStreak{
  font-size: 25px;
  padding-bottom: 10px;
}

.bp3-dialog-header{
  background: initial;
  text-align: center;
  background-color: $primary; 
  opacity: 1;
 }
 
 .bp3-dialog-body{
   background-color: $primary;
  }
 

.bp3-dialog{
  margin: 50px 0;
  width: 520px;
  background-color: $primary;
}

@media (max-width: 600px) {
  .bp3-dialog{
    margin: 70px 0;
    width: 380px;
    background-color: $primary;
  }
}

.consentform {
  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  img {
    width: 100%;
  }
}


.options {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .button {
    background-color: $primary;
    background-image: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0.5rem 1rem;
    font-family: $text-font;
    font-size: 1.4rem;
    color: $white;
    &:hover {
      border: 1px solid $primary;
      color: $black;
    }
    &.lite {
      background-color: transparent;
      border: 1px solid $primary;
      color: $black;
    }
  }
}

#consentbuttons2{
  text-align: right;
}

#consentno {
  background: none #5b5b5b;
  background-color:rgb(250, 250, 243);
  font-size: 1.3rem;
  margin-right: 5px;
  margin-bottom: 5px;
  color:rgb(70, 73, 74);
}

#consentyes {
  background: none #5b5b5b;
  background-color:rgb(70, 73, 74);
  font-size: 1.3rem;
  margin-right: 5px;
  margin-bottom: 5px;
  color:beige;
}

#playTrivia {
  background: none #5b5b5b;
  background-color:rgb(70, 73, 74);
  font-size: 1.3rem;
  margin-right: 5px;
  margin-bottom: 5px;
  color:beige;
}


.question-wrapper {
  margin-bottom: 10px;
  h6{
    margin: 0.2em;
  }
  .popup-select {
    .button {
      width: 150px;
      display: flex;
      justify-content: space-between;
    }
  }
  label {
    font-size: 0.8rem;
  }
  .bp3-button-group {
    width: 80%;
    .bp3-button {
      flex: 1;
      align-items: center;
      justify-content: center;
      &.selected {
        background: $primary;
      }
      .bp3-button-text {
        text-align: center;
      }
    }
  }
}