@import "components/common/mixins";

.profile-footer {
  @mixin themeDark;
  padding: 50px 20px;
  position: relative;

  & .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .footer-title {
    @mixin sectionTitle;
    color: var(--colorEggshell);
    max-width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
  }

  & .footer-carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0 -20px;
    width: calc(100% + 40px);
  }

  & .footer-carousel-item {
    display: inline-block;
    width: 145px;
    max-width: calc(50vw - 50px);
    margin: 10px 20px;
  }

  & .footer-carousel-item-photo {
    display: block;
    height: 145px;
    overflow: hidden;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid var(--colorMatza);

    &:hover + .footer-carousel-item-title > a {
      border-color: var(--colorSand);
    }

    & a {
      background-size: cover;
      background-position: 25% 50%;
      display: block;
      height: 100%;
      width: 100%;

      & img {
        width: 103%;
        height: 104%;
        left: -2%;
        position: relative;
        top: -2%;
      }
    }
  }

  & .footer-carousel-item-title {
    margin-top: 0.5em;
    margin-bottom: 0; /* reset default */
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;

    & a {
      display: inline;
      text-decoration: none;
      outline: none;
      @mixin bodyLink;
      color: var(--colorEggshell);
      border-color: var(--colorSlate);
      transition: border-color 0.2s ease;

      &:hover, &:focus {
        border-color: var(--colorSand);
      }
    }
  }

  & p {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
  }
}
