@import "components/common/colors";
@import "components/common/typography";

.profile-section {
  overflow: visible;

  @media (min-width: 751px) {
    max-width: 1024px;
    margin: 70px auto;
  }

  @media (max-width: 1100px) {
    max-width: 100%;
    margin: 60px 7.2vw;
  }

  & + .profile-section {
    margin-top: 90px;
  }

  &:not(:last-child) {
  }

  & > * {
    width: 100%;
  }

  & .section-actions {
    margin: 20px 0 0 0;
    position: relative;

    & button {
      background: transparent;
      border: 1px solid var(--colorSand);
      color: var(--colorSand);
      cursor: pointer;
      font-size: 12px;
      line-height: 18px;
      margin: 0 6px;
      padding: 4px 8px;
      position: absolute;
      right: 0;
      top: -6px;
      text-transform: uppercase;
      z-index: 99;

      &:hover {
        opacity: 0.7;
      }
    }

    & img {
      height: 14px;
      opacity: 0.7;
    }
  }

  & .section-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .section-title, & .section-actions {
      & > * {
        display: inline-block;
      }
    }

    & h4 {
      @mixin profileSectionTitle;
      margin: 0;
      padding-right: 10px;
    }
  }

  & .icon-circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid var(--colorSlate);
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;

    &.active {
      background-color: var(--colorSlate);
      cursor: default;
    }
  }

  & .section-body {
    margin-top: 17.3px;

    & p {
      @mixin bodyText;
      width: 62%;

      @media (max-width: 750px) {
        width: 100%;
      }
    }

    & a {
      @mixin bodyLink;
    }

  }

  & .rank-sec-body {
    margin-top: 15px;
  }

  & .rank-title {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 25px;

    & h3 {
      @mixin profileVizTitle;
      margin: 0;
    }

    & a {
      @mixin smallCaps;
      &::after {
        content: '';
        position: relative;
        display: inline-block;
        height: 10px;
        width: 5px;
        margin: 0 0 2px 2px;
        background: url('/images/ui/tri-right.svg') no-repeat;
        background-size: contain;
      }
    }
  }

  & .rank-carousel {
    position: relative;

    & a.arrow {
      position: absolute;
      &.back {
        top: 72px;
        left: -45px;
      }
      &.forward {
        top: 72px;
        right: -45px;
      }
    }

    & .rank-list {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
      overflow-x: scroll;
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      & li {
        display: inline-block;
        max-width: 145px;

        &:not(:last-child) {
          margin: 0 36px 0 0;
        }
      }

      & h2 {
        margin: 13px 0 0;
        padding: 0;
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.01em;
      }

      & a {
        text-decoration: none;
        outline: none;
      }

      & p {
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
      }

      & .rank-prof {
        @mixin smallCaps;
      }

      & .rank-photo {
        width: 145px;
        height: 145px;
        overflow: hidden;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        border: 1px solid var(--colorMatza);

        & img {
          width: 105%;
          margin-top: -7%;
          margin-left: -2.5%;
        }

      }

      & .rank-me {
        max-width: 180px;

        & .rank-photo {
          width: 180px;
          height: 180px;
        }
      }
    }
  }

  & .viz {
    margin: 30px 0 60px;
  }

}
