@import "components/common/colors";
@import "components/common/typography";

.about-section {
  @media (max-width: 750px) {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
}
