:root {

  /* neutrals scale */
  --colorSnow:                #FFF;
  --colorEggshell:            #F4F4F1;
  --colorKashi:               #efece9;
  --colorLint:                #E4E4E1;
  --colorCardboard:           #D6D6D0;
  --colorMatza:               #D0C9BF;
  --colorSand:                #AFAAA4;
  --colorTan:                 #9E978D;
  --colorStone:               #82817F;
  --colorSlate:               #4B4A48;
  --colorDark:                #363636;
  --colorBlackhole:           #000;

  --colorEggshellOverlay:     rgba(244, 244, 241, 0.7);
  --colorKashiOverlay:        rgba(233, 234, 232, 0.5);

  --colorCtrl:                #36687F;
  --colorCtrlShape:           #718D9A;
  --colorCtrlBright:          #80D1E2;

  /* occupations groupings */
  --colorSports:              #BB3B57;
  --colorScienceTech:         #0E5E5B;
  --colorPublicFigure:        #67AF8C;
  --colorInstitutions:        #B12D11;
  --colorHumanities:          #732945;
  --colorExploration:         #4C5ED7;
  --colorBusiness:            #4F680A;
  --colorArts:                #D28629;

  /* more colors! */
  --colorMidnight:            #260348;
  --colorRoyal:               #160B5B;
  --colorAtlantic:            #162A6D;
  --colorPacific:             #255A7F;
  --colorAqua:                #378D91;
  --colorSpring:              #4CA487;
  --colorClover:              #63B67D;
  --colorLime:                #82C87E;
  --colorSummer:              #B6DA9C;
  --colorCucumber:            #E2ECBD;
  --colorLemonade:            #FFFBE2;

  --colorDarkerLemonade:       color(var(--colorLemonade) blackness(+20%));

  /* color themes */
  --themeDark {
    background-color: var(--colorDark);
    color: var(--colorEggshell);
  }

  --themeLight {
    background-color: var(--colorEggshell);
    color: var(--colorDark);
  }
}
