@import 'typography';
@import 'colors';

:root {

  --panelInput {
    height: 30px;
    padding: 7px 5px 3px;
    appearance: none;
    border: 1px solid var(--colorTan);
    box-sizing: border-box;
    border-radius: 0;
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
  }
}
