@import 'colors';
:root {

  --fontBody:                'Amiko', Helvetica, Arial, sans-serif;
  --fontTitle:               'Marcellus', Times, serif;

  --sizeXXS:                 0.643em;
  --sizeXS:                  0.785em;
  --sizeSmall:               0.857em;
  --sizeBody:                1.0em;
  --sizeMedium:              1.142em;
  --sizeML:                  1.21em;
  --sizeLarge:               1.5em;
  --sizeXL:                  2.36em;
  --sizeXXL:                 2.57em;

  --pageTitle {
    font-size: var(--sizeXXL);
    font-weight: 600;
    line-height: calc(1.3 * var(--sizeXXL));
  }

  --priTitle {
    color: var(--colorDark);
    font-family: var(--fontTitle);
    text-transform: uppercase;
    font-size: var(--sizeXL);
    font-weight: 400;
    letter-spacing: .07em;
  }

  --priLabel {
    color: var(--colorDark);
    font-size: var(--sizeBody);
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  --secLabel {
    color: var(--colorTan);
    font-size: var(--sizeBody);
    letter-spacing: .07em;
    font-weight: 400;
  }

  --contextLabel {
    color: var(--colorTan);
    font-size: var(--sizeSmall);
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
  }

  --sectionTitle {
    font-family: var(--fontBody);
    font-size: var(--sizeML);
    font-weight: 400;
    line-height: calc(1.3 * var(--fontBody));
    letter-spacing: 0;
  }

  --subHeading {
    font-size: var(--sizeLarge);
    font-weight: 700;
    line-height: 1.725em;
  }

  --normal {
    font-size: var(--sizeBody);
    font-weight: 400;
    line-height: calc(1.7 * var(--sizeBody));
  }

  --small {
    font-size: var(--sizeSmall);
    font-weight: 400;
  }

  --bodyText {
    font-size: var(--sizeSmall);
    line-height: calc(2 * var(--sizeSmall));
    margin: 0;
    font-weight: 400;
  }

  --bodyLink {
    font-weight: 700;
    color: currentColor;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid currentColor;
    }
  }

  --deepLink {

  }

  --smallCaps {
    font-size: var(--sizeSmall);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .07em;
  }

  --boldSmallCaps {
    font-size: var(--sizeSmall);
    font-weight: 600;
    line-height: var(--sizeSmall);
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  --dropdownLink {
    &::after {
      content: '';
      position: relative;
      display: inline-block;
      height: 6px;
      width: 12px;
      margin: 0 0 1px 2px;
      background-image: url('../../images/tri-down.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  --exploreControlHeader {
    color: var(--colorEggshell);
    font-size: var(--sizeSmall);
    letter-spacing: 0.05em;
    font-weight: 400;
  }

  --exploreControlTitles {
    color: var(--colorStone);
    font-size: var(--sizeXS);
    line-height: calc(1.3 * var(--sizeXS));
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  --exploreControlLabels {
    font-size: var(--sizeXXS);
    color: var(--colorSlate);
    font-weight: 400;
    letter-spacing: .05em;
    line-height: var(--sizeXXS);
    text-transform: uppercase;
  }

  --exploreControlActiveLink {
    color: var(--colorDark);
    font-weight: 700;
    border-bottom: 2px solid var(--colorCtrlShape);
  }

  --exploreControlActiveLinkHover {
    border-bottom: 2px solid var(--colorCtrlShape);
    cursor: default;
  }

  --exploreControlInputText {
    color: var(--colorCtrl);
    font-family: var(--fontBody);
    font-weight: 600;
    font-size: var(--sizeSmall);
    line-height: var(--sizeBody);
  }

  --profileNav {
    font-size: var(--sizeXS);
    font-weight: 700;
    line-height: var(--sizeXS);
    text-transform: uppercase;
    letter-spacing: .07em;
  }

  --calloutText {
    color: var(--colorTan);
    font-size: var(--sizeLarge);
    font-weight: 400;
    line-height: var(--sizeLarge);
    letter-spacing: 0.057em;
  }

  --profileSectionTitle {
    font-size: var(--sizeML);
    font-weight: 400;
    line-height: var(--sizeML);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  --profileVizTitle {
    @apply --sectionTitle;
    color: var(--colorBlackhole);
  }

  --searchResults {
    font-size: var(--sizeMedium);
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.7em;
  }
}
