@import "../../styles/mixins.css";

.welcome {
  position: relative;
  z-index: 1;
  /* min-height: 100vh; */
  background-color: var(--colorLint);
  /* push form to bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* big spinning background */
.welcome-bg {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  overflow: hidden;
}

/* introduction */
.welcome-intro {
  /* sizing */
  padding-top: 14vh;
  padding-bottom: 14vh;
  /* positioning */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* theming */
  /* color: var(--light-3); */
}
.welcome-intro-heading {
  /* sizing */
  padding-left: var(--gutter-md);
  padding-right: var(--gutter-md);
  /* typography */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* font-weight: var(--label-font-weight); */

  & > * {
    display: block;
  }
}
.welcome-intro-heading-logo {
  /* positioning */
  margin: var(--gutter-sm) auto;
  /* sizing */
  &, & > * {
    width: 13rem;
    max-width: 100%;
  }
  /* hide the the */
  overflow: hidden;
  & > * {
    margin-top: -10%;
  }
}

/* logos */
.welcome-intro-logo-list {
  @mixin list-reset;
}
.welcome-intro-logo-item {
  width: auto;
  display: inline-block;
}
.welcome-intro-logo-link {
  display: block;
  padding: 1rem;
  /* transitions */
  opacity: 0.75;
  transition:
    opacity 0.1s ease-out,
    transform 0.1s ease-out;

  &:hover, &:focus {
    opacity: 1;
    transform: scale(1.075);
  }
}
.welcome-intro-logo-img {
  max-height: 1.875rem;
}

/* form */
.welcome-form-outer {
  background-color: var(--colorEggshell);
  padding: 0 var(--gutter-lg) var(--gutter-lg) var(--gutter-lg);
  position: relative;

  &:before {
    content: "";
    /* sizing */
    display: block;
    width: 100%;
    height: 10vh;
    /* positioning */
    position: absolute;
    top: -10vh;
    left: 0;
    right: 0;
    /* theming */
    background-color: var(--colorEggshell);
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
}

/* layout */
.welcome-form-inner {
  width: 60rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  & .welcome-form > *:not(:last-child) {
    margin-bottom: var(--gutter-md);
  }

  @mixin min-sm {
    & .welcome-form-select-wrapper {
      display: inline-block;
      width: calc(50% - 2rem);

      /* + */
      &:first-child:after {
        /* sizing */
        content: "+";
        display: block;
        /* font-size: var(--font-xxl); */
        /* color: var(--dark-1); */
        /* positioning */
        @mixin absolute-vertical-center;
        right: -1.25em;
        padding-top: 0.75em;
      }

      &:nth-child(2) {
        left: 4rem;
      }
    }
  }
}

/* dropdown label & button group styled as label */
.welcome-form-select-wrapper > .cp-select-label > .cp-select-text,
.welcome-form-select-wrapper > .cp-button-group > .cp-button {
  /* typography */
  /* @mixin font-uppercase; */
  font-size: var(--sizeSmall);
  font-weight: 800;
  color: var(--colorStone);
  /* sizing */
  padding: 0.25em 0.5em;

  &:first-child {
    margin-left: -0.5em; /* offset padding */
  }
}

/* button group style overrides */
.welcome-form-select-wrapper > .cp-button-group {
  display: block; /* override flex */

  & > .cp-button {
    background: none;
    border: none;
    transition: color 0.1s ease-out;

    &:first-child {
      /* border-right: 1px solid var(--dark-1); */
    }

    &.is-inactive {
      /* color: var(--dark-1); */

      &:hover, &:focus {
        /* color: var(--accent); */
      }
    }
  }
}

/* select menu overrides */
.welcome-form-select-wrapper > .cp-select-label > .cp-select {
  /* typography */
  /* font-weight: var(--base-font-weight); */
  /* theming */
  background: none;
  border-width: 0 0 2px 0;
  /* border-bottom-color: var(--dark-1); */
  /* sizing */
  padding-top: 0.25em; /* bring in labels closer */
  /* padding-left: 1.5em; make room for icon */

  &:hover {
    /* border-bottom-color: var(--light-3); */
  }
  &:focus {
    /* border-bottom-color: var(--accent); */
  }
}

/* position icons */
.welcome-form-select-wrapper {
  position: relative;
  transition: opacity 0.3s ease-out;

  & > .welcome-form-select-icon {
    /* sizing */
    width: var(--sizeLarge);
    height: auto;
    /* positioning */
    position: absolute;
    bottom: var(--gutter-sm);
    margin-bottom: 1px; /* baseline fudge */
  }

  /* disabled state */
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* submit button */
.welcome-form-button-wrapper {
  /* alignment */
  @mixin max-sm {
    margin-top: var(--gutter-lg);

    & > .welcome-form-button {
      display: block;
      width: 100%;
    }
  }
  @mixin min-sm {
    text-align: center;
    margin-top: var(--gutter-md);
    margin-bottom: var(--gutter-md);
  }
}


.sample-ctr-occs {
  & h2 {
    padding: 20px 0 0;
    text-align: center;
  }
  & .sample-ctr-occs-list {
    @mixin list-reset;
    columns: 4 200px;
    column-gap: 4em;
    column-rule: 1px dotted #ddd;
    column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 20px;

    & ul {
      @mixin list-reset;
      & li a {
        align-items: center;
        display: flex;
        padding: 4px 0;
      }
    }
    & img.country-flag {
      margin: 0 5px 0 0;
      width: 20px;
    }
  }
}
