@import "./mixins.css";
@import url("https://fonts.googleapis.com/css?family=Amiko:400,600,700");

@import './home.css';
@import '../components/Footer.css';
@import '../components/Navigation.css';
@import '../components/home/Grid.css';
@import '../components/utils/PersonImage.css';
@import '../components/Spinner.css';

* {box-sizing: border-box;}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem !important;
  font-family: var(--fontBody);
  @mixin themeLight;
  -webkit-font-smoothing: antialiased;

  & .noscroll {
    overflow: hidden;
  }
}

.app {
  font-weight: normal;
  /* sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & .global-footer {
    margin-top: auto;
  }
}

.app.embed > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  outline: none;
}

.items, .sub-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.ss-logo-container {
  left: 0;
  padding: 20px 0 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 98;
  & img {
    width: 300px;
  }
}
