@import '../../styles/mixins.css';

.popupwrapper {
  color: var(--colorStone);
}

@media (max-width: 600px) {
  .bp5-dialog{
    margin: 70px 0;
    width: 380px;
    overflow: hidden;
  }
}

.bp5-popover-content{
  max-height: 200px;
  overflow-y: scroll;
}


.popup {
  font-size: 1.5rem;
}
.popup .title {
  margin: 1rem 0rem 0.5rem 0rem;
  font-size: 1.8rem;
}
.popup .bp5-button {
  overflow-y: auto;
  min-width: 60 px;
}
.popup .bp5-slider-progress {
  background-color: "#333";
}

.popup .bp5-slider-progress.bp5-intent-primary {
  background-color: "#333";
}
.popup .bp5-slider-handle {
  background-color: "#333";
  border-radius: 99px;
  background-image: none;
}
.popup .bp5-slider-handle .bp5-slider-label {
  display: none;
}

.bp5-menu{
  max-height: 400px;
  overflow-y: scroll;
}



.question-wrapper {
  margin-bottom: 30px;
}
.question-wrapper .popup-select2 {
  max-height: 400px;
}
.question-wrapper .popup-select2 .button {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.question-wrapper .popup-select .button {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.question-wrapper label {
  font-size: 1.4rem;
}
.question-wrapper .bp5-button-group {
  width: 100%;
}
.question-wrapper .bp5-button-group .bp5-button {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.question-wrapper .bp5-button-group .bp5-button.selected {
  background: "#333";
}
.question-wrapper .bp5-button-group .bp5-button .bp5-button-text {
  text-align: center;
}

.options {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.options .button {
  background-color: "#333";
  background-image: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 0.5rem 1rem;
  font-family: var(--fontBody);
  font-size: 1.4rem;
  color: "#fff";
}
.options .button:hover {
  border: 1px solid "#333";
  color: "#000";
}
.options .button.lite {
  background-color: transparent;
  border: 1px solid "#333";
  color: "#000";
}


#acceptbutton{
  margin-left: 5px;
  background: none #5b5b5b;
  background-color:rgb(70, 73, 74);
  font-size: 1.5rem;
  color:beige;
}

#buttonsgroup{
  text-align: right;
}

.button-group {
  display: flex;
  margin-bottom: 0.5rem;
}
.button-group .button {
  background-image: none !important;
  box-shadow: none !important;
  font-family: var(--fontBody);
  border: 1px solid "#333";
  border-radius: 0px;
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
}
.button-group .button.selected {
  background-color: "#333";
  color: "#fff";
}

.select-button {
  background-image: none !important;
  box-shadow: none !important;
  font-family: var(--fontBody);
  border: 1px solid "#333";
  border-radius: 0px;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}