@import "./mixins.css";
@import './home.css';
@import './tooltip.css';
@import '../components/Footer.css';
@import '../components/Navigation.css';
@import '../components/home/Grid.css';
@import '../components/utils/PersonImage.css';
@import '../components/Spinner.css';

@font-face {
  font-family: "Marcellus";
  src: url("/fonts/Marcellus-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Amiko";
  src: url("/fonts/Amiko-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {box-sizing: border-box;}

html {
  font-size: 62.5%;
}

:root {
  --fontTitle: "Marcellus", "Times New Roman", serif;
  --fontBody: "Amiko", Arial, sans-serif;
  --fontMarcellus: "Marcellus", "Times New Roman", serif;
  --fontAmiko: "Amiko", Arial, sans-serif;
}

body {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem !important;
  font-family: var(--fontBody);
  @mixin themeLight;
  -webkit-font-smoothing: antialiased;

  & .noscroll {
    overflow: hidden;
  }
}

html, body {
  height: 100%;
}

body.embed {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.embed main {
  flex: 1;
  display: flex;
}

a {
  color: #0f74d1;
}
a:hover {
  color: #2090e6;
}

.app {
  font-weight: normal;
  /* sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & .global-footer {
    margin-top: auto;
  }
}

.app.embed > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  outline: none;
}

.items, .sub-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.ss-logo-container {
  left: 0;
  padding: 20px 0 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 98;
  & img {
    width: 300px;
  }
}
