@import '../common/typography';

.header {
  @apply --heading;
  text-align: center;
  position:relative;
  top: 200px;
}

.description { @apply --normal; }
.contribute { @apply --small; }

.rankPeers {
  background: #eee;
  margin: 20px 0;
  padding: 10px;
}
