@import '../common/typography';

/*.header {
  @apply --heading;
  text-align: center;
  position:relative;
  top: 200px;
}

.description { @apply --normal; }
.contribute { @apply --small; }

.rankPeers {
  background: #eee;
  margin: 20px 0;
  padding: 10px;
}*/

.data {
  padding: 90px 0;
  display: flex;
  flex-direction: row;

  & .data-nav {
    flex: 0 1 200px;
  }

  & > div {
    flex: 1;
  }
}
