@import '../common/typography';
@import '../common/colors';

.home {
  & .navigation {
    & .items {
      max-width: 590px;

      & .item {
        flex: 0 1 auto;
        padding: 8px;
        min-width: auto;
      }

      @media (min-width: 751px) and (max-width: 990px) {
        margin: 0 auto;
        max-width: 590px;
      }

      & .item.home-link {
        display: none;
      }

      & .search-btn {
        display: none;
      }
    }
  }

  & .home-container {
    width: 100%;
  }

  & .home-head {
    margin: 0 auto;
    padding: 120px 0 60px;
    text-align: center;

    & h1 {
      margin: 0 auto;

      & img {
        width: 266px;
      }
    }

    & h3 {
      @apply --smallCaps;
      font-size: 14px;
      letter-spacing: 2.2px;
      margin: 5px auto 25px;
    }

    & .home-search {
      position: relative;
      max-width: 266px;
      margin: 0 auto;
      text-align: left;

      & img {
        position: absolute;
        width: 16px;
        margin: 5px;
        opacity: 0.4;
      }

      & input {
        width: 100%;
        padding: 5px 28px 7px;
        border: 0;
        border-bottom: 1px solid var(--colorMatza);
        box-sizing: border-box;
        background: none;
        @apply --normal;
        line-height: 1;

        &::placeholder {
          @apply --normal;
          letter-spacing: 0.5px;
        }

        &:active, &:focus {
          outline: none;
        }
      }
    }
  }

  & .placeholder-home-img {
    height: 1000px;
    width: 98%;
    max-width: 650px;
    margin: 0 auto;
    background: url('../../images/placeholder_home.png') no-repeat;
    background-size: contain;
    background-position: 50% 0%;
    background-blend-mode: multiply;
    background-color: var(--colorEggshell);
  }

  & .home-body {
    margin-bottom: 60px;

    & .floating-content {
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      right: 0;

      &.l-1 {
        & .box {
          width: 145px;
          height: 145px;
          border: 1px solid var(--colorCardboard);

          &:first-child {
            left: -20px;
          }
          &:nth-child(1) {
            left: 240px;
            animation: float 40s ease-in 20s infinite;
          }
          &:nth-child(2) {
            left: 480px;
            animation: float 28s ease-in 14s infinite;
          }
          &:nth-child(3) {
            left: 640px;
            animation: float 36s ease-in 18s infinite;
          }
          &:last-child {
            right: -60px;
            animation: float 32s ease-in 16s infinite;
          }
        }
      }

      &.l-2 {
        & .box {
          width: 75px;
          height: 75px;
          border: 1px solid var(--colorLint);

          &:first-child {
            left: 30px;
            animation: float 14s ease-in 7s infinite;
          }
          &:nth-child(1) {
            left: 700px;
            animation: float 20s ease-in 10s infinite;
          }
          &:nth-child(2) {
            left: 160px;
            animation: float 18s ease-in 9s infinite;
          }
          &:nth-child(3) {
            left: 340px;
            animation: float 16s ease-in 8s infinite;
          }
          &:last-child {
            right: 30px;
            animation: float 22s ease-in 11s infinite;
          }
        }
      }

      & .box {
        display: block;
        position: absolute;
        bottom: 0;
        animation: float 20s ease-in 10s infinite;
      }
    }
  }
}

@keyframes float {
  from {bottom: -150px;}
  to {bottom: 1000px;}
}
