@import '../settings';
@import '../common/colors';
@import '../common/typography';

.message {
  display: none;
  padding: 12px 0;
  border-radius: var(--globalRadius);
  color: var(--colorBlackhole);
  font-size: var(--fontMedium);
  text-align: center;
}

.show {
  display: block;
}

.success {
  background-color: var(--colorClover);
  color: var(--colorSnow);
}
