@import '../common/typography';

.error-banner {
  height: 150%;
  background-size: 50%;
  background-repeat: repeat;
  background-position: 0 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;

  @media (max-width: 768px) {
    background-size: contain;
  }

  & img {
    width: 100%;
  }
}

.error-container {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100vh;

  & .error-msg {
    @apply --pageTitle;
    color: var(--colorEggshell);
    margin: 54px auto 0;
    padding: 100px 0 80px;
    text-align: center;
  }

  & .footer-title {
    max-width: 500px;
    margin: 0 30px 30px;

    & a {
      @apply --bodyLink;
    }
  }

  & .page {
    & p {
      color: var(--colorSand);
    }

    & .error-photo {
      background-color: var(--colorSlate);
    }
  }
}

.error-photo {
  &.newton {
    background-image: url("../../images/misc/error/14627.jpg");
  }
  &.federer {
    background-image: url("../../images/misc/error/262376.jpg");
  }
  &.disney {
    background-image: url("../../images/misc/error/32917.jpg");
  }
  &.vangogh {
    background-image: url("../../images/misc/error/32603.jpg");
  }
  &.dagama {
    background-image: url("../../images/misc/error/45080.jpg");
  }
  &.laozi {
    background-image: url("../../images/misc/error/65119.jpg");
  }
  &.agnez {
    background-image: url("../../images/misc/error/14611137.jpg");
  }
  &.curie {
    background-image: url("../../images/misc/error/20408.jpg");
  }
}

.data, .about {
  max-width: 950px;
  margin: 0 auto;
  padding: 90px 0;
  display: flex;
  flex-direction: row;

  & .page-nav {
    flex: 0 1 200px;

    & .page-items {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    & .item {
      padding: 8px 0;
    }

    & .item-link {
      @apply --globalNav;
      color: var(--colorDark);
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  & > div {
    flex: 1;
  }
}
