@import '../common/colors';
@import '../common/typography';

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 98;

  & .items {
    max-width: 950px;
    margin: 0 auto;
    padding: 24px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .item {
    display: inline-block;

    &:hover {
      & .sub-items {
        display: block;
      }
    }
  }

  & .sub-items {
    border: solid 1px var(--colorStone);
    background-color: var(--colorEggshell);
    box-sizing: border-box;
    display: none;
    margin: 6px 0 0 -20px;
    padding: 6px 0;
    position: absolute;
    text-align: left;

    & li {
      display: block;

      & a {
        display: block;
        padding: 5px 14px 2px;
        line-height: 24px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }

  & a {
    text-decoration: none;
    outline: none;
  }

  & .logo {
    width: 140px;
  }

  & .item {
    padding: 8px 16px;
    min-width: 120px;
    text-align: center;

    & > .item-link {
      @apply --dropdownLink;
      display: block;
      padding: 0 0 10px 0;
      text-align: left;
    }
  }

  & .item-link {
    @apply --globalNav;
    color: var(--colorDark);
    position: relative;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
    }

    &.explore::before {
      background: url('../../images/globalNav/explore.svg') no-repeat;
      background-size: contain;
      left: -20px;
      top: -3px;
      width: 18px;
      height: 18px;
    }

    &.profiles::before {
      background: url('../../images/globalNav/profile.svg') no-repeat;
      background-size: contain;
      left: -18px;
      top: -4px;
      width: 19px;
      height: 19px;
    }

    &.about::before {
      background: url('../../images/globalNav/about.svg') no-repeat;
      background-size: contain;
      left: -20px;
      top: -2px;
      width: 16px;
      height: 16px;
    }

    &.data::before {
      background: url('../../images/globalNav/data.svg') no-repeat;
      background-size: contain;
      left: -19px;
      top: -2px;
      width: 16px;
      height: 16px;
    }
  }

  & .search-btn {
    position: absolute;
    right: 0;
    top: 8px;
    padding: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  & .active {
    /*font-weight: 700;*/
  }
}
