@import '../common/colors';
@import '../common/typography';

.navigation {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;

  & ul {
    padding: 0;
    list-style-type: none;
  }

  & li {
    display: inline-block;
  }
}

.item {
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlackhole);
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorClover);
}
