@import '../common/colors';
@import '../common/typography';

.search {
  background: var(--colorEggshellOverlay) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAK0lEQVQYV2P8+vVjPQMDAwM3N38jiMYFGGEShDTAFRLSgKEQlwacCtE1AAAVaBNgQH40pQAAAABJRU5ErkJggg==) repeat;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 24px 50px;
  z-index: 101;

  &::before {
    content: '';
    background: linear-gradient(var(--colorEggshell), transparent);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  & .search-close {
    position: absolute;
    right: 5px;
    top: 9px;
    padding: 24px;
    cursor: pointer;

    & i {
      position: relative;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      display: block;

      & > * {
        position: absolute;
        display: block;
      }
    }

    & .close-perimeter {
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      border: 1px solid var(--colorSand);
      border-radius: 50%;
    }

    & .close-x {
      height: 20px;
      width: 1px;
      left: 15px;
      top: 4px;
      opacity: 1;
      box-sizing: border-box;
      border-left: 1px solid var(--colorSand);
    }

    & .close-back {
      transform: rotate(45deg);
      transition: all 0.5s;
    }

    & .close-for {
      transform: rotate(-45deg);
      transition: all 0.5s 0.1s;
    }

    &:hover {
      & .close-x {
        height: 0;
      }

      & .close-back {
        top: 25px;
        left: 0;
      }

      & .close-for {
        top: 25px;
        left: 30px;
      }
    }
  }

  & .search-results {
    margin: 0 34px;
    box-sizing: border-box;
  }

  & .search-result-input {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url('../../images/icons/icon-search.svg') no-repeat;
      background-size: contain;
      width: 34px;
      height: 34px;
      margin: 13px -45px;
    }

    & input {
      width: 100%;
      padding: 15px 0 10px;
      border: none;
      border-bottom: solid 1px var(--colorSand);
      background: transparent;
      color: var(--colorBlackhole);
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0;
      z-index: 1;

      &:focus {
        outline: none;
      }
    }
  }

  & .results-list {
    margin: 0;
    padding: 20px 0;
    list-style-type: none;

    & li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 6px 0;

      & a {
        position: relative;
        color: var(--colorSlate);
        text-decoration: none;
        @apply --searchResults;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid currentColor;
        }

        &::before {
          position: absolute;
          width: 20px;
          height: 20px;
          margin: 0 -35px;
        }
      }

      & span {
        color: var(--colorStone);
        text-align: right;
        display: inline-block;
        min-width: 90px;
        padding-left: 20px;
        @apply --searchResults;
      }
    }

    & .result-profession {
      & a::before {
        content: '';
        background: url('../../images/icons/icon-prof.svg') no-repeat;
        background-size: contain;
      }
    }

    & .result-person {

      & a::before {
        content: '';
        background: url('../../images/icons/icon-person.svg') no-repeat;
        background-size: contain;
      }
    }

    & .result-place {

      & a::before {
        content: '';
        background: url('../../images/icons/icon-place.svg') no-repeat;
        background-size: contain;
      }
    }

    & li.highlighted {
      padding-left: 20px;
      & a::before {
        content: '';
        background: url('../../images/tri-right-b.svg') no-repeat;
        background-size: contain;
      }
    }

  }
}
