.search {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 50px;
  z-index: 101;

  & .search_close {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    padding: 15px 15px 15px 15px;
    position: absolute;
    margin: 8px 0 0 -5px;
    right: 0;
    top: 0;
  }

  & input {
    background: transparent;
    border: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  & ul {
    margin: 0;
    padding: 0;

    & li {
      color: rgba(255, 255, 255, 0.6);
      display: block;

      & a {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
      }
    }
  }
}
